// 图标
#appMain #extension-box {
  .icon-extension-prize {
    background: url("../../../assets/images/extension/extension(1).png") no-repeat center;
  }

  .icon-extension-prize::before {
    content: "";
  }

  .icon-love-value {
    background: url("../../../assets/images/extension/extension(2).png") no-repeat center;
  }

  .icon-love-value::before {
    content: "";
  }

  .icon-fontclass-shangjidaifu {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(94).png") no-repeat center;
  }

  .icon-fontclass-shangjidaifu::before {
    content: "";
  }

  .icon-dengji01 {
    background: url("../../../assets/images/extension/extension(3).png") no-repeat center;
  }

  .icon-dengji01::before {
    content: "";
  }

  .icon-extension-chain {
    background: url("../../../assets/images/extension/extension(4).png") no-repeat center;
  }

  .icon-extension-chain::before {
    content: "";
  }

  .icon-extension-chain {
    background: url("../../../assets/images/extension/extension(5).png") no-repeat center;
  }

  .icon-extension-chain::before {
    content: "";
  }

  .icon-extension-share {
    background: url("../../../assets/images/extension/extension(6).png") no-repeat center;
  }

  .icon-extension-share::before {
    content: "";
  }

  .icon-gudong01 {
    background: url("../../../assets/images/extension/extension(7).png") no-repeat center;
  }

  .icon-gudong01::before {
    content: "";
  }

  .icon-fontclass-xiaoshoujiangli {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(76).png") no-repeat center;
  }

  .icon-fontclass-xiaoshoujiangli::before {
    content: "";
  }

  .icon-Medal01 {
    background: url("../../../assets/images/extension/extension(8).png") no-repeat center;
  }

  .icon-Medal01::before {
    content: "";
  }

  .icon-integral-active {
    background: url("../../../assets/images/extension/extension(9).png") no-repeat center;
  }

  .icon-integral-active::before {
    content: "";
  }

  .icon-lecturer01 {
    background: url("../../../assets/images/extension/extension(10).png") no-repeat center;
  }

  .icon-lecturer01::before {
    content: "";
  }

  .icon-daka01 {
    background: url("../../../assets/images/extension/extension(11).png") no-repeat center;
  }

  .icon-daka01::before {
    content: "";
  }

  .icon-team-return {
    background: url("../../../assets/images/extension/extension(12).png") no-repeat center;
  }

  .icon-team-return::before {
    content: "";
  }

  .icon-mane01 {
    background: url("../../../assets/images/extension/extension(13).png") no-repeat center;
  }

  .icon-mane01::before {
    content: "";
  }

  .icon-seller-a {
    background: url("../../../assets/images/extension/extension(14).png") no-repeat center;
  }

  .icon-seller-a::before {
    content: "";
  }

  .icon-member-cash1 {
    background: url("../../../assets/images/extension/extension(15).png") no-repeat center;
  }

  .icon-member-cash1::before {
    content: "";
  }

  .icon-fontclass-shangjijiang {
    background: url("../../../assets/images/extension/extension (73).png") no-repeat center;
  }

  .icon-fontclass-shangjijiang::before {
    content: "";
  }

  .icon-extension-list {
    background: url("../../../assets/images/extension/extension(16).png") no-repeat center;
  }

  .icon-extension-list::before {
    content: "";
  }

  .icon-quyu01 {
    background: url("../../../assets/images/extension/extension(17).png") no-repeat center;
  }

  .icon-quyu01::before {
    content: "";
  }

  .icon-weidian01 {
    background: url("../../../assets/images/extension/extension(18).png") no-repeat center;
  }

  .icon-weidian01::before {
    content: "";
  }

  .icon-xiaofei01 {
    background: url("../../../assets/images/extension/extension(19).png") no-repeat center;
  }

  .icon-xiaofei01::before {
    content: "";
  }

  .icon-extension-chain {
    background: url("../../../assets/images/extension/extension(20).png") no-repeat center;
  }

  .icon-extension-chain::before {
    content: "";
  }

  .icon-extension-sale {
    background: url("../../../assets/images/extension/extension(21).png") no-repeat center;
  }

  .icon-extension-sale::before {
    content: "";
  }

  .icon-daka01 {
    background: url("../../../assets/images/extension/extension(22).png") no-repeat center;
  }

  .icon-daka01::before {
    content: "";
  }

  .icon-fontclass-shifangyuncang1 {
    background: url("../../../assets/images/extension/extension(75).png") no-repeat center;
  }

  .icon-fontclass-shifangyuncang1::before {
    content: "";
  }

  .icon-zhaoshang01 {
    background: url("../../../assets/images/extension/extension(23).png") no-repeat center;
  }

  .icon-zhaoshang01::before {
    content: "";
  }

  .icon-extension-chain {
    background: url("../../../assets/images/extension/extension(24).png") no-repeat center;
  }

  .icon-extension-chain::before {
    content: "";
  }

  .icon-extension-manual-bon {
    background: url("../../../assets/images/extension/extension(25).png") no-repeat center;
  }

  .icon-extension-manual-bon::before {
    content: "";
  }

  .icon-team-bonus {
    background: url("../../../assets/images/extension/extension(26).png") no-repeat center;
  }

  .icon-team-bonus::before {
    content: "";
  }

  .icon-extension-chain {
    background: url("../../../assets/images/extension/extension(27).png") no-repeat center;
  }

  .icon-extension-chain::before {
    content: "";
  }

  .icon-fenxiao01 {
    background: url("../../../assets/images/extension/extension(28).png") no-repeat center;
  }

  .icon-fenxiao01::before {
    content: "";
  }

  .icon-fontclass-lingshou {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension(88).png") no-repeat center;
  }

  .icon-fontclass-lingshou::before {
    content: "";
  }

  .icon-extension_bonus {
    background: url("../../../assets/images/extension/extension(29).png") no-repeat center;
  }

  .icon-extension_bonus::before {
    content: "";
  }

  .icon-team_reward {
    background: url("../../../assets/images/extension/extension(31).png") no-repeat center;
  }

  .icon-team_reward::before {
    content: "";
  }

  .icon-global_reward {
    background: url("../../../assets/images/extension/extension(30).png") no-repeat center;
  }

  .icon-global_reward::before {
    content: "";
  }

  .icon-member_task {
    background: url("../../../assets/images/extension/extension(34).png") no-repeat center;
  }

  .icon-number_assets {
    background: url("../../../assets/images/extension/extension(33).png") no-repeat center;
  }

  .icon-member_task::before {
    content: "";
  }

  .icon-number_assets::before {
    content: "";
  }

  .icon-reward_record {
    background: url("../../../assets/images/extension/extension(36).png") no-repeat center;
  }

  .icon-reward_record::before {
    content: "";
  }

  .icon-area_manage {
    background: url("../../../assets/images/extension/extension(39).png") no-repeat center;
  }

  .icon-area_manage::before {
    content: "";
  }

  .icon-holder_reward {
    background: url("../../../assets/images/extension/extension(38).png") no-repeat center;
  }

  .icon-holder_reward::before {
    content: "";
  }

  .icon-extension_goods_order {
    background: url("../../../assets/images/extension/extension(37).png") no-repeat center;
  }

  .icon-extension_goods_order::before {
    content: "";
  }

  .icon-fontclass-mendianxaiofeika1 {
    background: url("../../../assets/images/extension/extension(76).png") no-repeat center;
  }

  .icon-fontclass-mendianxaiofeika1::before {
    content: "";
  }

  .icon-extension_team_reward {
    background: url("../../../assets/images/extension/extension(40).png") no-repeat center;
  }

  .icon-extension_team_reward::before {
    content: "";
  }

  .icon-extension_equity_reward {
    background: url("../../../assets/images/extension/extension(41).png") no-repeat center;
  }

  .icon-extension_equity_reward::before {
    content: "";
  }

  .icon-extension_distributors_management_reward {
    background: url("../../../assets/images/extension/extension(42).png") no-repeat center;
  }

  .icon-extension_distributors_management_reward::before {
    content: "";
  }

  .icon-fontclass-anzhuangfuwutg {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(80).png") no-repeat center;
  }

  .icon-fontclass-anzhuangfuwutg::before {
    content: "";
  }

  .icon-fontclass-xiaofeijiangli {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(90).png") no-repeat center;
  }

  .icon-fontclass-xiaofeijiangli::before {
    content: "";
  }

  .icon-extension_love_cycle_reward {
    background: url("../../../assets/images/extension/extension(43).png") no-repeat center;
  }

  .icon-extension_love_cycle_reward::before {
    content: "";
  }

  .icon-fontclass-dianshanglianmeng {
    background: url("../../../assets/images/extension/extension(89).png") no-repeat center;
  }

  .icon-fontclass-dianshanglianmeng::before {
    content: "";
  }

  .icon-extension_team_admin_reward {
    background: url("../../../assets/images/extension/extension(44).png") no-repeat center;
  }

  .icon-extension_team_admin_reward::before {
    content: "";
  }

  .icon-extension_sorting_share_reward {
    background: url("../../../assets/images/extension/extension(45).png") no-repeat center;
  }

  .icon-extension_sorting_share_reward::before {
    content: "";
  }

  .icon-extension_admin_reward {
    background: url("../../../assets/images/extension/extension(46).png") no-repeat center;
  }

  .icon-extension_admin_reward::before {
    content: "";
  }

  .icon-extension_directly_share_reward {
    background: url("../../../assets/images/extension/extension(47).png") no-repeat center;
  }

  .icon-extension_directly_share_reward::before {
    content: "";
  }

  .icon-extension_place_reward {
    background: url("../../../assets/images/extension/extension(50).png") no-repeat center;
  }

  .icon-extension_place_reward::before {
    content: "";
  }

  .icon-red-packet {
    background: url("../../../assets/images/extension/extension(49).png") no-repeat center;
  }

  .icon-red-packet::before {
    content: "";
  }

  .icon-love-value-reward {
    background: url("../../../assets/images/extension/extension(54).png") no-repeat center;
  }

  .icon-love-value-reward::before {
    content: "";
  }

  .icon-member_integral {
    background: url("../../../assets/images/extension/extension(52).png") no-repeat center;
  }

  .icon-member_integral::before {
    content: "";
  }

  .icon-member-cashier {
    background: url("../../../assets/images/extension/extension(51).png") no-repeat center;
  }

  .icon-member-cashier::before {
    content: "";
  }

  .icon-dealer_mange_reward {
    background: url("../../../assets/images/extension/extension(53).png") no-repeat center;
  }

  .icon-dealer_mange_reward::before {
    content: "";
  }

  .icon-extension_agent_sharebonus {
    background: url("../../../assets/images/extension/extension(55).png") no-repeat center;
  }

  .icon-extension_agent_sharebonus::before {
    content: "";
  }

  .icon-member_bonus_pools {
    background: url("../../../assets/images/member/member_a(81).png") no-repeat center;
  }

  .icon-member_bonus_pools::before {
    content: "";
  }

  .icon-extension_ozyvip_mechanism {
    background: url("../../../assets/images/extension/extension(57).png") no-repeat center;
  }

  .icon-extension_ozyvip_mechanism::before {
    content: "";
  }

  .icon-fontclass-huiyuanquanyi {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(77).png") no-repeat center;
  }

  .icon-fontclass-huiyuanquanyi::before {
    content: "";
  }

  .icon-extension_host_reward {
    background: url("../../../assets/images/extension/extension(58).png") no-repeat center;
  }

  .icon-fontclass-shengjima1 {
    background: url("../../../assets/images/extension/extension(87).png") no-repeat center;
  }

  .icon-fontclass-shengjima1::before {
    content: "";
  }

  .icon-member_distributors {
    background: url("../../../assets/images/extension/extension(65).png") no-repeat center;
  }

  .icon-member_distributors::before {
    content: "";
  }

  .icon-member_chamber {
    background: url("../../../assets/images/extension/extension(66).png") no-repeat center;
  }

  .icon-member_chamber::before {
    content: "";
  }

  .icon-extension_samelevel_reward {
    background: url("../../../assets/images/extension/extension(67).png") no-repeat center;
  }

  .icon-extension_samelevel_reward::before {
    content: "";
  }

  .icon-extension_teamsales_admin {
    background: url("../../../assets/images/extension/extension(61).png") no-repeat center;
  }

  .icon-extension_teamsales_admin::before {
    content: "";
  }

  .icon-extension_host_reward::before {
    content: "";
  }

  .icon-extension_gudongfenhong {
    background: url("../../../assets/images/extension/extension(63).png") no-repeat center;
  }

  .icon-extension_gudongfenhong::before {
    content: "";
  }

  .icon-extension_intervel_consumer {
    background: url("../../../assets/images/extension/extension(62).png") no-repeat center;
  }

  .icon-extension_intervel_consumer::before {
    content: "";
  }

  .icon-extension_team_salereturn {
    background: url("../../../assets/images/extension/extension(64).png") no-repeat center;
  }

  .icon-extension_team_salereturn::before {
    content: "";
  }

  .icon-member_installserver {
    background: url("../../../assets/images/extension/extension(68).png") no-repeat center;
  }

  .icon-member_installserver::before {
    content: "";
  }

  .icon-extension_shop_shareholder {
    background: url("../../../assets/images/extension/extension(69).png") no-repeat center;
  }

  .icon-extension_shop_shareholder::before {
    content: "";
  }

  .icon-fontclass-tuanduifenhong {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(73).png") no-repeat center;
  }

  .icon-fontclass-tuanduifenhong::before {
    content: "";
  }

  .icon-member_groupbuy {
    background: url("../../../assets/images/extension/extension(70).png") no-repeat center;
  }

  .icon-member_groupbuy::before {
    content: "";
  }

  .icon-fontclass-tuijianguan {
    background: url("../../../assets/images/extension/extension(74).png") no-repeat center;
  }

  .icon-fontclass-tuijianguan::before {
    content: "";
  }

  .icon-extension_71 {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(71).png") no-repeat center;
  }

  .icon-extension_71::before {
    content: "";
  }

  .icon-fontclass-xiaofeihongbao {
    background: url("../../../assets/images/extension/extension(72).png") no-repeat center;
  }

  .icon-fontclass-xiaofeihongbao::before {
    content: "";
  }

  .icon-fontclass-yunkucun {
    background: url("../../../assets/images/extension/extension(79).png") no-repeat center;
    background-size: 3.5rem;
    width: 4rem;
  }

  .icon-fontclass-yunkucun::before {
    content: "";
  }

  .icon-fontclass-quanzi2 {
    background: url("../../../assets/images/extension/extension(81).png") no-repeat center;
  }

  .icon-fontclass-quanzi2::before {
    content: "";
  }

  .icon-fontclass-zhaoshangzhuanyuan {
    background: url("../../../assets/images/extension/extension(91).png") no-repeat center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }

  .icon-fontclass-zhaoshangzhuanyuan::before {
    content: "\ea79";
  }

  .icon-fontclass-tuijianjiang {
    background: url("../../../assets/images/extension/extension(85).png") no-repeat center;
  }

  .icon-fontclass-tuijianjiang::before {
    content: "";
  }

  .icon-fontclass-fenxiangjiang {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(84).png") no-repeat center;
  }

  .icon-fontclass-fenxiangjiang::before {
    content: "";
  }

  .icon-fontclass-miandan {
    background: url("../../../assets/images/member/member_a(165).png") no-repeat center;
  }

  .icon-fontclass-miandan::before {
    content: "";
  }

  .icon-fontclass-mendianjiangli {
    background: url("../../../assets/images/extension/extension(93).png") no-repeat center;
  }

  .icon-fontclass-mendianjiangli::before {
    content: "";
  }

  .icon-fontclass-huizhenpin {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(92).png") no-repeat center;
  }

  .icon-fontclass-huizhenpin::before {
    content: "";
  }

  .icon-fontclass-order-quantity-bonus {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(99).png") no-repeat center;
  }

  .icon-fontclass-order-quantity-bonus::before {
    content: "";
  }

  .icon-fontclass-guquanfenhong {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(95).png") no-repeat center;
  }

  .icon-fontclass-guquanfenhong::before {
    content: "";
  }

  .icon-commission-extra {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(96).png") no-repeat center;
  }

  .icon-commission-extra::before {
    content: "";
  }

  .icon-gratitudeRewardIndex {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(98).png") no-repeat center;
  }

  .icon-gratitudeRewardIndex::before {
    content: "";
  }

  .icon-extension_offlineInvestment {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(97).png") no-repeat center;
  }

  .icon-extension_offlineInvestment::before {
    content: "";
  }

  .icon-extension_gdt_advertise {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(101).png") no-repeat center;
  }

  .icon-extension_gdt_advertise::before {
    content: "";
  }

  .icon-fontclass_seePoint {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(106).png") no-repeat center;
  }

  .icon-fontclass_seePoint::before {
    content: "";
  }

  .icon-bonusPools {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(108).png") no-repeat center;
  }

  .icon-bonusPools::before {
    content: "";
  }

  .icon-extension-starStore {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(100).png") no-repeat center;
  }

  .icon-extension-starStore::before {
    content: "";
  }

  .icon-extension-WeightedDividend {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(105).png");
  }

  .icon-extension-WeightedDividend::before {
    content: "";
  }

  .icon-extension-agencyDividend {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(107).png");
  }

  .icon-extension-agencyDividend::before {
    content: "";
  }

  .icon-share_partner {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(109).png");
  }

  .icon-share_partner::before {
    content: "";
  }

  .icon-public-fund {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(111).png");
  }

  .icon-public-fund::before {
    content: "";
  }

  .icon-drm-income_reward {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(112).png");
  }

  .icon-drm-income_reward::before {
    content: "";
  }
}
