#copyright {
  color: #a7a7a7;
  margin: 0.625rem 0;
}

.header {
  height: auto;
  background: #f15353;
  background-size: 100% 100%;
  padding: 1.25rem;
  position: relative;

  .user {
    display: flex;
    text-align: center;

    .cashier-name {
      text-align: left;
      flex: 2;
      margin-left: 0.625rem;
      line-height: 1.875rem;
      color: #fff;
      font-weight: bold;
      font-size: 18px;
    }

    .user-head {
      height: 3.25rem;
      width: 3.25rem;
      background: #fff;
      border-radius: 50%;
      border: 0.125rem solid #fff;
      box-sizing: border-box;
      float: left;
      overflow: hidden;
    }

    .user-head img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    .user-info {
      margin-top: 0.6875rem;
      float: left;
      color: #fff;
    }

    .set {
      position: absolute;
      right: 0.625rem;
      top: 0.625rem;
      color: #fff;
      font-size: 14px;
    }

    .user-info .user-name {
      width: auto;
      font-size: 14px;

      .b-tixian {
        display: flex;
        justify-content: center;
        width: 4.75rem;
        margin-top: 0.5rem;
        margin: 0 auto;
        padding: 0.3125rem;
        border-radius: 1.125rem;
        color: #fff;
        background: rgba(255, 255, 255, 0.3);
      }
    }

    .user-info .user-other {
      height: 1.25rem;
      width: auto;
      font-size: 0.643em;
      line-height: 1.25rem;
      opacity: 0.8;
    }
  }

  .user-gold {
    height: 2.1875rem;
    width: 94%;
    padding: 0.3125rem 3%;
    border-bottom: 0.0625rem solid #f5f3f3;
    background: #fff;
    font-size: 12px;
    line-height: 2.1875rem;
  }

  .user-gold .title {
    height: 2.1875rem;
    width: auto;
    float: left;
    color: #666;
  }

  .user-gold .num {
    height: 2.1875rem;
    width: auto;
    float: left;
    color: #f90;
  }

  .user-gold .draw {
    width: 5rem;
    height: 1.875rem;
    background: #6c9;
    float: right;
  }

  .user-op {
    height: 2.1875rem;
    width: 94%;
    padding: 0.3125rem 3%;
    border-bottom: 0.0625rem solid #f5f3f3;
    background: #fff;
    font-size: 12px;
    line-height: 2.1875rem;
  }
}

.money-center {
  background: #fff;
  border-bottom: 0.0625rem solid #f5f3f3;
  margin-top: 0.625rem;
  overflow: hidden;
}

#userinfo {
  background: #fff;
  margin-bottom: 0.625rem;

  ul {
    padding: 1rem 0;
    //          display: flex;

    li a {
      color: #8c8c8c;
      text-align: center;
      display: block;
    }

    li a span {
      color: #222;
      font-size: 14px;
    }

    li:first-child {
      border-right: solid 0.0625rem #ebebeb;
    }

    li {
      flex: 1;
      float: left;
      width: 50%;
      box-sizing: border-box;
      border: 0;

      span {
        color: #f15353;
        font-size: 18px;
        display: inline-block;
        margin-bottom: 0.375rem;
        font-weight: bold;
      }

      small {
        font-weight: normal;
        font-size: 12px;
      }
    }

    li:last-child {
      border: 0;
    }

    li a {
      color: #8c8c8c;
      text-align: center;
      display: block;
    }

    li a span {
      color: #222;
      font-size: 16px;
      margin-bottom: 0.3125rem;
      display: inline-block;
    }

    li a {
      color: #8c8c8c;
      font-size: 12px;
    }

    li::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  ul::after {
    content: "";
    display: block;
    clear: both;
  }
}

#orderlist {
  background: #fff;
  margin: 0.625rem 0;
}

.ordertltie {
  text-align: left;
  text-indent: 0.9375rem;
  width: 100%;
  height: 2.25rem;
  border-bottom: 0.0625rem solid #f5f3f3;
  box-sizing: border-box;

  i {
    line-height: 2.286rem;
    color: #999;
    font-size: 20px;
    float: right;
    padding-right: 0.9375rem;
  }

  a .ordername {
    float: left;
    line-height: 2.286rem;
    font-size: 14px;
    color: #333;
  }
}

.order_pub {
  width: 25%;
  position: relative;
  box-sizing: border-box;
}

#orderlist .puball {
  color: #000;
  border-left: 0.0625rem solid #8f9295;
}

.badge {
  position: absolute;
  left: 50%;
  top: -0.3125rem;
  background-color: #ff4949;
  border-radius: 0.625rem;
  color: #fff;
  line-height: 0.875rem;
  font-size: 12px;
  padding: 0 0.3125rem;
}

#tool {
  background: #fff;
  overflow: hidden;

  h3 {
    color: #333;
    margin: 0;
    padding-left: 0.9375rem;
    text-align: left;
    border-bottom: 0.0625rem solid #f5f3f3;
    font-size: 14px;
    font-weight: normal;
    box-sizing: border-box;
    line-height: 2.286rem;
    height: 2.286rem;
  }

  li img {
    width: 28%;
    margin-bottom: 0.3125rem;
  }

  ul li {
    position: relative;
    float: left;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    padding: 0.9375rem 0;
    font-size: 12px;
    height: 25vw;
  }

  ul li a {
    color: #8c8c8c;
  }

  ul li i {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 0.625rem;
    color: #fff;
    line-height: 2.25rem;
    font-size: 20px;
    margin-bottom: 0.25rem;
  }
}

.listStat {
  height: 2.75rem;
  background: #fff;
  border-top: 0.0625rem solid #ebebeb;
  font-size: 14px;
  line-height: 2.75rem;
  color: #333;
  text-align: left;
  margin-left: 0.875rem;
}

.listStat:first-child {
  border-top: none;
}

.list1 {
  height: 2.75rem;
  background: #fff;
  padding-right: 0.875rem;
  margin-left: 0.875rem;
  border-top: 0.0625rem solid #ebebeb;
  font-size: 16px;
  line-height: 2.75rem;
  color: #333;
  text-align: left;
  display: flex;
  align-items: center;
  position: relative;
}

.statRight {
  float: right;
  line-height: 2.75rem;
  display: inline-block;
  font-size: 14px;
  padding-right: 0.875rem;
  color: #f15353;
  width: 7.5rem;

  /* height: 1.25rem; */
  text-align: right;
  background-size: 1.25rem;
}

.list1 i.fa.fa-angle-right {
  float: right;
  line-height: 2.75rem;
  display: inline-block;
  font-size: 1.5rem;
  color: #c9c9c9;
  text-align: center;
  background-size: 1.25rem;
  position: absolute;
  right: 0.875rem;
}

.list1 .ico {
  display: inline-block;
  margin-right: 0.625rem;
  color: #929292;
  width: 1.25rem;
  height: 1.25rem;
  text-align: center;
  background-size: 1.25rem;
  float: left;
  margin-top: 0.75rem;
}

.list1 .marketing {
  background-image: url(../../assets/images/marketing.png);
}

.list1 .extension {
  background-image: url(../../assets/images/extension.png);
}

.list1 .newsetting {
  background-image: url(../../assets/images/newsetting.png);
}

.allorder {
  float: right;
  color: #909090;
  margin-right: 0.625rem;
  text-decoration: none;
  font-size: 12px;
}

.order {
  width: 100%;
  background: #fff;
  margin-top: 0.625rem;
  border-bottom: 0.0625rem solid #f5f3f3;
}

.order_all {
  width: 100%;
  padding: 0.875rem 0;
  color: #666;
  overflow: hidden;
}

.order_all a i {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  background-size: 1.25rem;
}

.order_all a .money {
  background-image: url(../../assets/images/money.png);
}

.order_all a .box {
  background-image: url(../../assets/images/box.png);
}

.order_all a .car {
  background-image: url(../../assets/images/car.png);
}

.order_all a .refun {
  background-image: url(../../assets/images/refun.png);
}

.order_pub {
  height: 2.375rem;
  float: left;
  border-left: 0.0625rem solid #eee;
  padding-top: 0.125rem;
  text-align: center;
  color: #8c8c8c;
  position: relative;
  font-size: 12px;
}

.order_pub span {
  height: 0.875rem;
  background: #f30;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  right: 6%;
  padding: 0 0.3125rem;
  font-size: 12px;
  color: #fff;
  line-height: 0.875rem;
}

.data-btn {
  button {
    background-color: #f15353;
    width: 80%;
    height: 2.5rem;
    font-size: 14px;
    margin: 1rem auto;
    border-radius: 1.25rem;
    border: none;
  }

  .yd-button {
    padding: 0;
  }
}

.cart {
  height: auto;
  width: 100%;
  background: #fff;
}

.new-ullist {
  border-top: 0.0625rem solid #f5f3f3;
  overflow: hidden;
  padding: 0.875rem 0;
}

.new-ullist ul li {
  position: relative;
  float: left;
  width: 25%;
  box-sizing: border-box;
  text-align: center;
  padding: 0.625rem 0;
  font-size: 12px;
}

.new-ullist ul li a {
  color: #8c8c8c;
}

.new-ullist ul li i {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.625rem;
  color: #fff;
  line-height: 2.25rem;
  font-size: 20px;
  margin-bottom: 0.25rem;
}

.set a {
  color: #fff;
  font-size: 20px;
}

#ewm {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: rgba(140, 140, 140, 0.72);
  z-index: 9;
  display: none;
  padding-top: 5%;

  .pic {
    width: 70%;
    margin: auto;
    background: #fff;
    border-radius: 0.625rem;
    overflow: hidden;

    .title {
      padding: 0.625rem;
      border-bottom: 0.0625rem solid #ddd;

      img {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
      }

      span {
        margin-left: 0.9375rem;
        vertical-align: middle;
        font-size: 16px;
      }
    }

    .ewm {
      img {
        width: 50%;
        display: block;
        float: right;
      }
    }
  }

  img {
    width: 100%;
    display: block;
  }
}
