#category {
  background: #fff;
  height: 99vh;

  .m_header {
    width: 100%;
    height: 2.8125rem;
    padding-right: 0.9375rem;
    box-sizing: border-box;
    background: #fff;
    line-height: 2.8125rem;
    font-size: 18px;

    span {
      display: inline-block;
      width: 1rem;
      height: 1.5rem;
      float: left;
      margin-left: 0.625rem;
      font-size: 30px;
    }

    i {
      font-size: 16px;
      float: right;
      font-style: normal;
    }
  }

  .search-box {
    padding: 0.375rem 2rem;
    background: rgb(255, 255, 255);
    border-bottom: 0.0625rem solid #f4f4f4;

    .search-content {
      width: 100%;
      height: 4.2vh;
      line-height: 4.2vh;
      background: #f5f5f5;
      padding: 0 0.625rem;
      text-align: left;
      border-radius: 0.875rem;
      color: #8c8c8c;
    }
  }

  #rootlists {
    height: 100vh;
    width: 22%;
    border-right: 0.0625rem solid #f4f4f4;
    float: left;
    background: #fff;
    margin-top: 0.25rem;
  }

  #category-content {
    float: right;
    height: 100vh;
    overflow: scroll;
    width: 78%;
    background: #fff;

    #carcontent {
      word-wrap: break-word;
      background: #fff;
    }
  }

  .bottom {
    width: 100%;
    box-sizing: border-box;
    padding: 0.9375rem;
    border-top: 0.0625rem solid #eaeaea;
    position: fixed;
    bottom: 0;
    background: #fff;
    font-size: 18px;
    text-align: left;
    line-height: 2.5rem;

    b {
      color: #f37385;
    }

    a {
      color: #000;
    }

    span {
      width: 8.125rem;
      text-align: center;
      height: 2.5rem;
      color: #fff;
      background: #f15353;
      float: right;
      display: inline-block;

      a {
        font-size: 16px;
        color: #fff;
      }
    }
  }
}

#rootList {
  width: 101%;
  background: #fff;
  font-size: 12px;

  .active {
    background: #fff;
    color: #000;
    // font-weight: bold;
    span {
      display: inline-block;
      border-left: 2px solid #fb4a4a;
      width: 100%;
      line-height: 1rem;
    }
  }

  li {
    // line-height: 2.8125rem;
    padding: 0.9375rem 0;
    // border-bottom: solid 0.0625rem #e5e5e5;
    color: #999;
    font-size: 0.75rem;

    span {
      border-left: 2px solid rgba(255, 255, 255, 1);
    }
  }
}
