#coupon_index .mint-cell-value {
  width: 100% !important;
}

.mint-cell-swipe {
  .mint-cell-wrapper {
    background: #25ad25;
  }
}

p {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.coupon-shop {
  position: fixed;
  bottom: 0.5rem;
  font-size: 16px;
  width: 100%;
  height: 2.875rem;
  // padding: 0px 0.97rem 0 0.72rem;
  box-sizing: border-box;
  line-height: 2.875rem;
  display: flex;

  a {
    width: 50%;
  }

  p {
    width: 100%;
    // padding: 0;
    // margin: 0;
    // -webkit-border-radius: 0.3125rem;
    // -moz-border-radius: 0.3125rem;
    // border-radius: 0.3125rem;
    background: #f15353;
    color: #fff;
  }

  .line::after {
    content: '';
    position: absolute;
    top: 20%;
    right: 50%;
    width: 1px;
    height: 60%;
    background-color: #fff;
  }
}

.coupon_card,
.coupon_info {
  margin: 0.625rem 0.625rem 0;
  width: 100%;

  .coupon_voucher {
    margin-bottom: 0.625rem;
    position: relative;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    padding-left: 0;

    .coupon_voucher_main {
      position: relative;
      padding-left: 6.375rem;
      height: 6.875rem;
      width: 100%;
      box-sizing: border-box;

      .coupon_voucher_left {
        position: absolute;
        top: 0;
        left: 0;
        width: 6.375rem;
        height: 100%;
        color: #fff;
        border-radius: 0.25rem 0 0 0.25rem;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;

        .coupon_voucher_amount {
          position: relative;
          font-size: 32px;
          line-height: 2rem;
          margin-bottom: 0.625rem;
        }

        .coupon_voucher_amount::before {
          content: "\00A5";
          font-size: 16px;
          display: inline-block;
          vertical-align: text-top;
          margin-right: 0.1875rem;
        }

        .coupon_voucher_limit {
          font-size: 12px;
        }
      }

      .coupon_voucher_hr {
        position: absolute;
        top: 0;
        left: 6.0625rem;
        width: 0.375rem;
        overflow: hidden;
        height: 100%;
      }

      .coupon_voucher_hr::after {
        box-sizing: border-box;
        position: absolute;
        top: -0.1875rem;
        right: -0.1875rem;
        bottom: 0;
        content: "• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • •";
        line-height: 0.625rem;
        width: 0.4375rem;
        color: #f8fbfb;
        font-size: 18px;
        overflow: hidden;
        z-index: 1;
      }

      .coupon_voucher_right {
        padding: 0.9375rem 0.9375rem 0.9375rem 0.625rem;
        height: 100%;
        border-radius: 0 0.25rem 0.25rem 0;
        background-color: #f8fbfb;
        color: #666;
        width: 100%;
        box-sizing: border-box;
        //              float: right;
        position: relative;

        .coupon_voucher_range {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          font-size: 14px;
          text-align: left;

          span {
            font-size: 14px;
          }
        }

        .coupon_voucher_range1 {
          overflow: hidden;
          text-overflow: ellipsis;
          margin-top: 0.625rem;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          color: #f15353;
          font-size: 12px;
          text-align: left;

          span {
            display: inline-block;
            background-color: #f15353;
            color: #fff;
            padding: 0.25rem 0.625rem;
            border-radius: 0.625rem;
          }

          i:first-child {
            font-size: 14px;
            margin-left: 6px;
          }

          i:last-child {
            font-size: 14px;
          }
        }

        .coupon_voucher_btn.bg_1 {
          color: #ffb84c;
          z-index: 111;
          background-color: #3985ff;
          border: 0.0625rem solid #3985ff;
          background: none;
          border-color: #ffb84c;
          border-radius: 0.625rem;
          font-size: 12px;
        }

        .coupon_voucher_btn.bg_1::after {
          border-color: #ffb84c;
        }

        .coupon_voucher_more_arr {
          display: inline-block;
          vertical-align: middle;
          margin-top: -0.125rem;
          margin-left: 0.3125rem;
          width: 0.9rem;
          height: 0.85rem;

          /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAABGdBT…zqJV2ttTR8uaPvmc9AmL2S87lc2YzIy3/ieHyx4J7zexZON0gP9cnwmkcAAAAASUVORK5CYII=) 50% no-repeat; */
          background-size: 0.75rem auto;
          -webkit-transition: -webkit-transform 0.5s ease-in-out;
          transition: -webkit-transform 0.5s ease-in-out;
          transition: transform 0.5s ease-in-out;
          transition:
            transform 0.5s ease-in-out,
            -webkit-transform 0.5s ease-in-out;
          border: 0.0625rem solid #999;
          border-radius: 0.75rem;
        }
      }
    }

    .coupon_voucher_btm {
      display: none;
      position: relative;
      box-sizing: border-box;
      padding: 0.5rem 0.625rem;
      background-color: #f2f2f7;
      border-radius: 0.1875rem;

      .coupon_voucher_explain {
        color: #999;
        font-size: 12px;
        text-align: left;
      }
    }

    .coupon_voucher_btm.hies {
      display: block;
    }
  }
}

.coupon_voucher.bg_dong .coupon_voucher_left,
.coupon_voucher.bg_dong .coupon_voucher_type {
  background-color: #ffb84c;
}

.coupon_voucher.disabled .coupon_voucher_left,
.coupon_voucher.disabled .coupon_voucher_type {
  background-color: #ccc;
}

.coupon_voucher_btn {
  position: absolute;
  top: 3.5rem;
  right: 0.9375rem;
  padding: 0 0.625rem;
  height: 1.25rem;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .coupon_voucher_btn::after {
    right: -100%;
    bottom: -100%;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    border-radius: 1.25rem;
  }
}

.coupon_voucher_more,
.coupon_voucher_period {
  color: #999;
  font-size: 12px;
  position: absolute;
  bottom: 0.625rem;
}

.coupon_voucher_more {
  right: 0.9375rem;
}

.coupon_voucher_more,
.coupon_voucher_period {
  color: #999;
  font-size: 12px;
  position: absolute;
  bottom: 0.625rem;
}

.coupon_voucher.disabled.expired .coupon_voucher_label,
.coupon_voucher.disabled.used .coupon_voucher_label {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  z-index: 1;
}

.coupon_voucher.disabled .coupon_voucher_label_text,
.coupon_voucher.disabled.used .coupon_voucher_label_text {
  background-color: #747474;
  font-style: normal;
  position: absolute;
  top: 0.375rem;
  left: -1rem;
  width: 3.75rem;
  display: block;
  height: 1rem;
  font-size: 10px;
  text-align: center;
  color: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.coupon_voucher_label_text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  margin-top: 0.0625rem;
}

/* 领券中心 */

.banner {
  img {
    position: relative;
    margin: 0 auto;
    color: #fff;
    width: 100%;
  }
}

.coupon-list {
  padding: 0.625rem;

  .single-coupon {
    width: 100%;
    background: #fff;
    margin-bottom: 0.9375rem;
    display: -webkit-flex;
    display: flex;
    font-size: 12px;
    padding: 1rem 0;
  }

  .single-coupon-l {
    position: relative;
    width: 34.4%;
    color: #ffb84c;
  }

  .single-coupon-l::after,
  .single-coupon-l::before {
    background: #eee;
    width: 0.9375rem;
    height: 0.9375rem;
    position: absolute;
    content: "";
    display: block;
    border-radius: 50%;
    right: 0;
  }

  .single-coupon-l {
    .sc-title {
      height: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .sc-margin {
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .sc-money {
      line-height: 2.625rem;
      font-size: 30px;
    }

    .sc-message {
      line-height: 1.0625rem;
      font-size: 12px;
      white-space: nowrap;
    }
  }

  .single-coupon-l::after {
    bottom: -1.4rem;
    background: #f5f5f5;
  }

  .single-coupon-l::before {
    top: -1.4rem;
    box-sizing: content-box;
    background: #f5f5f5;
  }

  .coupon_remain {
    position: relative;
  }

  .single-coupon-m {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    padding: 0.5rem;
    position: relative;

    .scm-text {
      line-height: 1.0625rem;
      font-size: 12px;
    }

    .coupon_lineclamp {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-align: justify;
    }

    .scm-greytext {
      color: #999;
      margin-top: 0.4375rem;
    }

    .scm-text {
      line-height: 1.0625rem;
      font-size: 12px;
      text-align: justify;
    }
  }

  .coupon_remain::after {
    content: "";
    width: 3rem;
    height: 3rem;
    background-image: url(../../assets/images/receive.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 70%;
    right: 0.4rem;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

.coupon-list .no_coupon {
  .single-coupon-l {
    position: relative;
    width: 34.4%;
    color: #666;
  }

  .coupon_remain::after {
    content: "";
    width: 3rem;
    height: 3rem;
    background-image: url(../../assets/images/lootall.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 70%;
    right: 0.4rem;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

.coupon_info {
  margin: 0 !important;

  .coupon_top {
    background: #fff;
    padding: 0.625rem;

    .coupon_board_tip {
      margin: 0.625rem 0.625rem 0;
      color: #333;
      font-size: 12px;
      text-align: left;

      p {
        line-height: 1.2rem;

        span {
          color: #999;
        }

        em {
          color: #e4393c;
          font-style: normal;
        }
      }
    }
  }

  .coupon_detail {
    margin: 0.9375rem 0;
    background: #fff;

    .coupon_detail_tit {
      color: #333;
      font-size: 14px;
      height: 2.5rem;
      padding-left: 0.9375rem;
      border-bottom: 0.0625rem solid #eef1f6;
      line-height: 2.5rem;
      box-sizing: border-box;
      text-align: left;
    }

    .more {
      padding: 0.9375rem;
      text-align: justify;
      font-size: 12px;
    }
  }
}

.receice_in {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;

  .receTxt {
    background-color: #fcb951;
    border-radius: 10px;
    padding: 10px 10px;
    color: #fff;
  }
}
