/*
* @Author: Marte
* @Date:   2017-04-25 09:56:56
* @Last Modified by:   Marte
* @Last Modified time: 2017-04-27 15:39:56
*/
p { margin: 0; padding: 0; }

#income {
  .top-warpper {
    height: 10rem;
    background: #f15353;
    color: #fff;

    .warpper-t {
      padding: 0.625rem;

      .brand {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background: #fff;
        float: left;
      }

      .detail {
        font-size: 13px;
        color: #fff;
        width: 6.25rem;
        height: 2.5rem;
        float: right;
        line-height: 2.5rem;
        margin: 0;
        padding: 0;
        font-weight: bold;

        span {
          width: 0.4375rem;
          height: 0.8125rem;
          display: inline-block;
        }
      }
    }

    .warpper-t::after {
      display: table;
      content: '';
      clear: both;
    }

    .warpper-b {
      .eyes {
        height: 1.5rem;
        width: 33%;
        float: left;

        img {
          float: right;
          margin: 1.25rem 1.875rem 0 0;
        }
      }

      .ex-income {
        float: left;
        width: 33%;
        margin: 0.75rem 0 0 0;

        .num {
          font-size: 30px;
          font-weight: bold;

          span {
            font-size: 13px;
            font-weight: normal;
          }
        }
      }

      .cash {
        width: 33%;
        float: left;

        span {
          width: 3rem;
          height: 1.5rem;
          display: block;
          line-height: 1.5rem;
          text-align: center;
          border-radius: 0.3125rem;
          border: 0.0625rem solid #fff;
          font-weight: bold;
          margin: 1.25rem 0 0 1.875rem;
        }
      }
    }
  }

  .content-warpper {
    background: #eee;

    .warpper {
      height: 8.75rem;
      margin: 0.625rem;
      background: #fff;

      .line {
        width: 0.3125rem;
        height: 8.75rem;
        background: #f15353;
        border-top-left-radius: 0.1875rem;
        border-bottom-left-radius: 0.1875rem;
        float: left;
      }

      .content-top {
        padding: 0.625rem 0.625rem;
        overflow: hidden;

        h2 {
          color: #333;
          font-size: 14px;
          float: left;
        }

        .click {
          width: 3.5625rem;
          height: 1.125rem;
          display: inline-block;
          border: 0.0625rem solid #f15353;
          color: #f15353;
          font-size: 11px;
          line-height: 1.125rem;
          text-align: center;
          border-radius: 0.3125rem;
          float: right;
        }

        .click::after {
          display: table;
          content: '';
          clear: both;
        }
      }

      .content-bot {
        margin-top: 1.25rem;

        .description {
          width: 50%;
          float: left;

          p {
            text-align: left;
            padding-left: 0.625rem;
          }

          p:first-child {
            font-size: 11px;
            color: #999;
          }

          p:last-child {
            font-size: 13px;
            color: #f15353;

            span {
              font-size: 30px;
              font-weight: bold;
            }
          }
        }

        .settle {
          width: 40%;
          float: left;
          border-left: 0.0625rem solid #aaa;

          p {
            text-align: left;
            font-size: 15px;
            color: 3333;
            line-height: 1.5rem;

            span {
              font-size: 30px;
              color: #4c4c4c;
              display: inline-block;
              width: 1.875rem;
              height: 1.5rem;
              vertical-align: middle;
              margin-top: -0.25rem;
            }

            b {
              font-size: 9px;
              font-weight: normal;
            }
          }
        }
      }
    }

    .permissions {
      background: #fff;
      overflow: hidden;
      margin-bottom: 4.375rem;

      .title {
        font-size: 14px;
        color: #f25857;
        text-align: center;
        line-height: 3.125rem;
        border-bottom: 0.0625rem solid #ccc;
      }

      .list {
        height: 6.25rem;
        margin-top: 0.625rem;

        ul {
          overflow: hidden;

          li {
            width: 25%;
            float: left;
            text-align: center;

            i {
              display: block;
              width: 2.75rem;
              height: 2.75rem;
              margin: 0 auto;
            }

            span {
              font-size: 11px;
              color: #333;
              line-height: 0.9375rem;
            }
          }
        }
      }
    }
  }

  .modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);

    .modal-dialog {
      width: 18.75rem;
      height: 11.875rem;
      background: #fff;
      border-radius: 0.375rem;
      border-top: 0.625rem solid #f15353;
      margin: 50% auto;
      position: relative;

      .close {
        position: absolute;
        top: -3.125rem;
        right: 0;
      }

      .title {
        color: #666;
        font-size: 14px;
        font-weight: bold;
        line-height: 2.1875rem;
        text-align: left;
        padding-left: 1.5625rem;
        padding-top: 0.625rem;
      }

      .form-group {
        text-align: left;
        padding-left: 1.875rem;
        line-height: 1.875rem;

        .radio {
          display: inline-block;
          width: 1.125rem;
          height: 1.125rem;

          img {
            color: #20b86a;
            margin-bottom: 0.5rem;
            vertical-align: bottom;
          }
        }

        span {
          color: #333;
          font-size: 16px;
        }

        .accomplish {
          border: 0.0625rem solid #f15353;
          display: inline-block;
          width: 2.3125rem;
          height: 1.125rem;
          border-radius: 0.25rem;
          line-height: 1.125rem;
          text-align: center;
          color: #f15353;
          font-style: normal;
        }
      }

      .apply_btn {
        width: 15.625rem;
        height: 2.125rem;
        border-radius: 0.375rem;
        background-color: #f15353;
        text-align: center;
        line-height: 2.125rem;
        color: #fff;
        border: 0;
        outline: 0;
        font-size: 14px;
        font-weight: bold;
        margin-top: 1.25rem;
      }
    }
  }
}
