// 会员中心
#member-all,
#extension-box {
  .plugin-items-icon .iconfont {
    display: inline-block;
    font-size: 1.75rem;
    color: rgb(241, 83, 83);
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }

  .tool-box .iconfont {
    display: inline-block;
    font-size: 30px;
    color: rgb(241, 83, 83);
    background-size: 28px;
    width: 100%;
    margin-bottom: 4px;
  }

  .icon-extension-prize {
    background: url("../../assets/images/extension/extension(1).png") no-repeat center;
  }

  .icon-extension-prize::before {
    content: "";
  }

  .icon-extension-chain {
    background: url("../../assets/images/extension/extension(2).png") no-repeat center;
  }

  .icon-extension-chain::before {
    content: "";
  }

  .icon-dengji01 {
    background: url("../../assets/images/extension/extension(3).png") no-repeat center;
  }

  .icon-dengji01::before {
    content: "";
  }

  .icon-extension-chain {
    background: url("../../assets/images/extension/extension(4).png") no-repeat center;
  }

  .icon-extension-chain::before {
    content: "";
  }

  .icon-extension-chain {
    background: url("../../assets/images/extension/extension(5).png") no-repeat center;
  }

  .icon-extension-chain::before {
    content: "";
  }

  .icon-extension-share {
    background: url("../../assets/images/extension/extension(6).png") no-repeat center;
  }

  .icon-extension-share::before {
    content: "";
  }

  .icon-extension-chain {
    background: url("../../assets/images/extension/extension(7).png") no-repeat center;
  }

  .icon-extension-chain::before {
    content: "";
  }

  .icon-Medal01 {
    background: url("../../assets/images/extension/extension(8).png") no-repeat center;
  }

  .icon-Medal01::before {
    content: "";
  }

  .icon-integral-active {
    background: url("../../assets/images/extension/extension(9).png") no-repeat center;
  }

  .icon-integral-active::before {
    content: "";
  }

  .icon-lecturer01 {
    background: url("../../assets/images/extension/extension(10).png") no-repeat center;
  }

  .icon-lecturer01::before {
    content: "";
  }

  .icon-daka01 {
    background: url("../../assets/images/extension/extension(11).png") no-repeat center;
  }

  .icon-daka01::before {
    content: "";
  }

  .icon-team-return {
    background: url("../../assets/images/extension/extension(12).png") no-repeat center;
  }

  .icon-team-return::before {
    content: "";
  }

  .icon-mane01 {
    background: url("../../assets/images/extension/extension(13).png") no-repeat center;
  }

  .icon-mane01::before {
    content: "";
  }

  .icon-seller-a {
    background: url("../../assets/images/extension/extension(14).png") no-repeat center;
  }

  .icon-seller-a::before {
    content: "";
  }

  .icon-member-cash1 {
    background: url("../../assets/images/extension/extension(15).png") no-repeat center;
  }

  .icon-member-cash1::before {
    content: "";
  }

  .icon-fontclass-shangjijiang {
    background: url("../../assets/images/extension/extension (73).png") no-repeat center;
  }

  .icon-fontclass-shangjijiang::before {
    content: "";
  }

  .icon-extension-list {
    background: url("../../assets/images/extension/extension(16).png") no-repeat center;
  }

  .icon-extension-list::before {
    content: "";
  }

  .icon-quyu01 {
    background: url("../../assets/images/extension/extension(17).png") no-repeat center;
  }

  .icon-quyu01::before {
    content: "";
  }

  .icon-weidian01 {
    background: url("../../assets/images/extension/extension(18).png") no-repeat center;
  }

  .icon-weidian01::before {
    content: "";
  }

  .icon-xiaofei01 {
    background: url("../../assets/images/extension/extension(19).png") no-repeat center;
  }

  .icon-xiaofei01::before {
    content: "";
  }

  .icon-extension-chain {
    background: url("../../assets/images/extension/extension(20).png") no-repeat center;
  }

  .icon-extension-chain::before {
    content: "";
  }

  .icon-extension-sale {
    background: url("../../assets/images/extension/extension(21).png") no-repeat center;
  }

  .icon-extension-sale::before {
    content: "";
  }

  .icon-daka01 {
    background: url("../../assets/images/extension/extension(22).png") no-repeat center;
  }

  .icon-daka01::before {
    content: "";
  }

  .icon-zhaoshang01 {
    background: url("../../assets/images/extension/extension(23).png") no-repeat center;
  }

  .icon-zhaoshang01::before {
    content: "";
  }

  .icon-extension-chain {
    background: url("../../assets/images/extension/extension(24).png") no-repeat center;
  }

  .icon-extension-chain::before {
    content: "";
  }

  .icon-extension-manual-bon {
    background: url("../../assets/images/extension/extension(25).png") no-repeat center;
  }

  .icon-extension-manual-bon::before {
    content: "";
  }

  .icon-team-bonus {
    background: url("../../assets/images/extension/extension(26).png") no-repeat center;
  }

  .icon-team-bonus::before {
    content: "";
  }

  .icon-extension-chain {
    background: url("../../assets/images/extension/extension(27).png") no-repeat center;
  }

  .icon-extension-chain::before {
    content: "";
  }

  .icon-fenxiao01 {
    background: url("../../assets/images/extension/extension(28).png") no-repeat center;
  }

  .icon-fenxiao01::before {
    content: "";
  }

  .icon-fontclass-lingshou {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension(88).png") no-repeat center;
  }

  .icon-fontclass-lingshou::before {
    content: "";
  }

  .icon-dealer_mange_reward {
    background: url("../../assets/images/extension/extension(32).png") no-repeat center;
  }

  .icon-dealer_mange_reward::before {
    content: "";
  }

  .icon-extension_gudongfenhong {
    background: url("../../assets/images/extension/extension(63).png") no-repeat center;
  }

  .icon-extension_gudongfenhong::before {
    content: "";
  }

  .icon-member-exchange1 {
    background: url("../../assets/images/member/member_a(1).png") no-repeat center;
  }

  .icon-member-exchange1::before {
    content: "";
  }

  .icon-member-help {
    background: url("../../assets/images/member/member_a(2).png") no-repeat center;
  }

  .icon-member-help::before {
    content: "";
  }

  .icon-fontclass-dianzhushenqing {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(166).png") no-repeat center;
    -webkit-background-size: 1.75rem 1.75rem;
    -moz-background-size: 1.75rem;
    -o-background-size: 1.75rem;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }

  .icon-fontclass-dianzhushenqing::before {
    content: "";
  }

  .icon-fontclass-kuajing {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(167).png") no-repeat center;
    -webkit-background-size: 1.75rem 1.75rem;
    -moz-background-size: 1.75rem;
    -o-background-size: 1.75rem;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }

  .icon-fontclass-kuajing::before {
    content: "";
  }

  .icon-fontclass-mendianxaiofeika1 {
    background: url("../../assets/images/member/member_a(137).png") no-repeat center;
  }

  .icon-fontclass-mendianxaiofeika1::before {
    content: "";
  }

  .icon-member-recharge1 {
    background: url("../../assets/images/member/member_a(3).png") no-repeat center;
  }

  .icon-member-recharge1::before {
    content: "";
  }

  .icon-activity-c {
    background: url("../../assets/images/member/member_a(4).png") no-repeat center;
  }

  .icon-activity-c::before {
    content: "";
  }

  .icon-activity-c {
    background: url("../../assets/images/member/member_a(5).png") no-repeat center;
  }

  .icon-activity-c::before {
    content: "";
  }

  .icon-life-f {
    background: url("../../assets/images/member/member_a(6).png") no-repeat center;
  }

  .icon-life-f::before {
    content: "";
  }

  .icon-member-frozen1 {
    background: url("../../assets/images/member/member_a(7).png") no-repeat center;
  }

  .icon-member-frozen1::before {
    content: "";
  }

  .icon-extension-d {
    background: url("../../assets/images/member/member_a(8).png") no-repeat center;
  }

  .icon-extension-d::before {
    content: "";
  }

  .icon-member-apply1 {
    background: url("../../assets/images/member/member_a(9).png") no-repeat center;
  }

  .icon-member-apply1::before {
    content: "";
  }

  .icon-extension-e {
    background: url("../../assets/images/member/member_a(10).png") no-repeat center;
  }

  .icon-extension-e::before {
    content: "";
  }

  .icon-activity-a {
    background: url("../../assets/images/member/member_a(11).png") no-repeat center;
  }

  .icon-activity-a::before {
    content: "";
  }

  .icon-life-g {
    background: url("../../assets/images/member/member_a(12).png") no-repeat center;
  }

  .icon-life-g::before {
    content: "";
  }

  .icon-member-currency1 {
    background: url("../../assets/images/member/member_a(14).png") no-repeat center;
  }

  .icon-member-currency1::before {
    content: "";
  }

  .icon-member-act-signup1 {
    background: url("../../assets/images/member/member_a(15).png") no-repeat center;
  }

  .icon-member-act-signup1::before {
    content: "";
  }

  .icon-life-d {
    background: url("../../assets/images/member/member_a(16).png") no-repeat center;
  }

  .icon-life-d::before {
    content: "";
  }

  .icon-life-c {
    background: url("../../assets/images/member/member_a(17).png") no-repeat center;
  }

  .icon-life-c::before {
    content: "";
  }

  .icon-wealth-b {
    background: url("../../assets/images/member/member_a(18).png") no-repeat center;
  }

  .icon-wealth-b::before {
    content: "";
  }

  .icon-lecturer01 {
    background: url("../../assets/images/member/member_a(19).png") no-repeat center;
  }

  .icon-lecturer01::before {
    content: "";
  }

  .icon-life-e {
    background: url("../../assets/images/member/member_a(20).png") no-repeat center;
  }

  .icon-life-e::before {
    content: "";
  }

  .icon-activity-h {
    background: url("../../assets/images/member/member_a(21).png") no-repeat center;
  }

  .icon-activity-h::before {
    content: "";
  }

  .icon-member-course3 {
    background: url("../../assets/images/member/member_a(22).png") no-repeat center;
  }

  .icon-member-course3::before {
    content: "";
  }

  .icon-life-j {
    background: url("../../assets/images/member/member_a(23).png") no-repeat center;
  }

  .icon-life-j::before {
    content: "";
  }

  .icon-life-b {
    background: url("../../assets/images/member/member_a(24).png") no-repeat center;
  }

  .icon-life-b::before {
    content: "";
  }

  .icon-activity-b {
    background: url("../../assets/images/member/member_a(25).png") no-repeat center;
  }

  .icon-activity-b::before {
    content: "";
  }

  .icon-member_store {
    background: url("../../assets/images/member/member_a(26).png") no-repeat center;
  }

  .icon-member_store::before {
    content: "";
  }

  .icon-member_my-card {
    background: url("../../assets/images/member/member_a(64).png") no-repeat center;
  }

  .icon-member_my-card::before {
    content: "";
  }

  .icon-member_material {
    background: url("../../assets/images/member/member_a(65).png") no-repeat center;
  }

  .icon-member_material::before {
    content: "";
  }

  .icon-member-store-apply1 {
    background: url("../../assets/images/member/member_a(27).png") no-repeat center;
  }

  .icon-member-store-apply1::before {
    content: "";
  }

  .icon-activity-d {
    background: url("../../assets/images/member/member_a(28).png") no-repeat center;
  }

  .icon-activity-d::before {
    content: "";
  }

  .icon-member-bank-list1 {
    background: url("../../assets/images/member/member_a(29).png") no-repeat center;
  }

  .icon-member-bank-list1::before {
    content: "";
  }

  .icon-member-clock1 {
    background: url("../../assets/images/member/member_a(30).png") no-repeat center;
  }

  .icon-member-clock1::before {
    content: "";
  }

  .icon-extension-c {
    background: url("../../assets/images/member/member_a(31).png") no-repeat center;
  }

  .icon-extension-c::before {
    content: "";
  }

  .icon-activity-g {
    background: url("../../assets/images/member/member_a(32).png") no-repeat center;
  }

  .icon-activity-g::before {
    content: "";
  }

  .icon-wealth-d {
    background: url("../../assets/images/member/member_a(33).png") no-repeat center;
  }

  .icon-wealth-d::before {
    content: "";
  }

  .icon-seller-a {
    background: url("../../assets/images/member/member_a(34).png") no-repeat center;
  }

  .icon-seller-a::before {
    content: "";
  }

  .icon-life-a {
    background: url("../../assets/images/member/member_a(35).png") no-repeat center;
  }

  .icon-life-a::before {
    content: "";
  }

  .icon-life-h {
    background: url("../../assets/images/member/member_a(36).png") no-repeat center;
  }

  .icon-life-h::before {
    content: "";
  }

  .icon-activity-e {
    background: url("../../assets/images/member/member_a(37).png") no-repeat center;
  }

  .icon-activity-e::before {
    content: "";
  }

  .icon-member-extension1 {
    background: url("../../assets/images/member/member_a(38).png") no-repeat center;
  }

  .icon-member-extension1::before {
    content: "";
  }

  .icon-extension-b {
    background: url("../../assets/images/member/member_a(39).png") no-repeat center;
  }

  .icon-extension-b::before {
    content: "";
  }

  .icon-member-mendian1 {
    background: url("../../assets/images/member/member_a(40).png") no-repeat center;
  }

  .icon-member-mendian1::before {
    content: "";
  }

  .icon-member-collect1 {
    background: url("../../assets/images/member/member_a(41).png") no-repeat center;
  }

  .icon-member-collect1::before {
    content: "";
  }

  .icon-activity-i {
    background: url("../../assets/images/member/member_a(42).png") no-repeat center;
  }

  .icon-activity-i::before {
    content: "";
  }

  .icon-activity-f {
    background: url("../../assets/images/member/member_a(43).png") no-repeat center;
  }

  .icon-activity-f::before {
    content: "";
  }

  .icon-member-credit01 {
    background: url("../../assets/images/member/member_a(44).png") no-repeat center;
  }

  .icon-member-credit01::before {
    content: "";
  }

  .icon-life-i {
    background: url("../../assets/images/member/member_a(45).png") no-repeat center;
  }

  .icon-life-i::before {
    content: "";
  }

  .icon-wealth-a {
    background: url("../../assets/images/member/member_a(46).png") no-repeat center;
  }

  .icon-wealth-a::before {
    content: "";
  }

  .icon-member-get-up {
    background: url("../../assets/images/member/member_a(47).png") no-repeat center;
  }

  .icon-member-get-up::before {
    content: "";
  }

  .icon-extension-f {
    background: url("../../assets/images/member/member_a(48).png") no-repeat center;
  }

  .icon-extension-f::before {
    content: "";
  }

  .icon-member-life-pay1 {
    background: url("../../assets/images/member/member_a(49).png") no-repeat center;
  }

  .icon-member-life-pay1::before {
    content: "";
  }

  .icon-member-my-shop1 {
    background: url("../../assets/images/member/member_a(50).png") no-repeat center;
  }

  .icon-member-my-shop1::before {
    content: "";
  }

  .icon-member-express {
    background: url("../../assets/images/member/member_a(51).png") no-repeat center;
  }

  .icon-member-express::before {
    content: "";
  }

  .icon-member_goods {
    background: url("../../assets/images/member/member_a(52).png") no-repeat center;
  }

  .icon-member_goods::before {
    content: "";
  }

  .icon-member-supplier {
    background: url("../../assets/images/member/member_a(53).png") no-repeat center;
  }

  .icon-member-supplier::before {
    content: "";
  }

  .icon-fontclass-cefu {
    background: url("../../assets/images/member/member_a(129).png") no-repeat center;
  }

  .icon-fontclass-cefu::before {
    content: "";
  }

  .icon-fontclass-shipindati {
    background: url("../../assets/images/member/member_a(135).png") no-repeat center;
  }

  .icon-fontclass-shipindati::before {
    content: "";
  }

  .icon-fontclass-manghe {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(139).png") no-repeat center;
  }

  .icon-fontclass-manghe::before {
    content: "";
  }

  .icon-fontclass-zitidian {
    background: url("../../assets/images/member/member_a(130).png") no-repeat center;
  }

  .icon-fontclass-zitidian::before {
    content: "";
  }

  .icon-fontclass-xiaoshoubaobiao {
    background: url("../../assets/images/member/member_a(128).png") no-repeat center;
  }

  .icon-fontclass-xiaoshoubaobiao::before {
    content: "";
  }

  .i {
    background: url("../../assets/images/member/member_a(54).png") no-repeat center;
  }

  .i::before {
    content: "";
  }

  .icon-member_integral {
    background: url("../../assets/images/member/member_a(55).png") no-repeat center;
  }

  .icon-member_integral::before {
    content: "";
  }

  .icon-member_hotel {
    background: url("../../assets/images/member/member_a(56).png") no-repeat center;
  }

  .icon-member_hotel::before {
    content: "";
  }

  .icon-card {
    background: url("../../assets/images/member/member_a(57).png") no-repeat center;
  }

  .icon-card::before {
    content: "";
  }

  .icon-fontclass-shouquanma-01 {
    background: url("../../assets/images/member/member_a(148).png") no-repeat center;
  }

  .icon-fontclass-shouquanma-01::before {
    content: "";
  }

  .icon-member_card1 {
    background: url("../../assets/images/member/member_a(58).png") no-repeat center;
  }

  .icon-member_card1::before {
    content: "";
  }

  .icon-extension_goods_order {
    background: url("../../assets/images/member/member_a(59).png") no-repeat center;
  }

  .icon-extension_goods_order::before {
    content: "";
  }

  .icon-member_my-friend {
    background: url("../../assets/images/member/member_a(63).png") no-repeat center;
  }

  .icon-member_my-friend::before {
    content: "";
  }

  .icon-member-replenishment {
    background: url("../../assets/images/member/member_a(67).png") no-repeat center;
  }

  .icon-member-replenishment::before {
    content: "";
  }

  .icon-number_assets {
    background: url("../../assets/images/member/member_a(69).png") no-repeat center;
  }

  .icon-number_assets::before {
    content: "";
  }

  .icon-order_system {
    background: url("../../assets/images/member/member_a(70).png") no-repeat center;
  }

  .icon-order_system::before {
    content: "";
  }

  .icon-declaration_system {
    background: url("../../assets/images/member/member_a(66).png") no-repeat center;
  }

  .icon-declaration_system::before {
    content: "";
  }

  .icon-member-express-list {
    background: url("../../assets/images/member/member_a(68).png") no-repeat center;
  }

  .icon-member-express-list::before {
    content: "";
  }

  .icon-member_mygroup {
    background: url("../../assets/images/member/member_a(72).png") no-repeat center;
  }

  .icon-member_mygroup::before {
    content: "";
  }

  // 工具图标
  .icon-fontclass-1 {
    background: url("../../assets/images/member/tool_a(6).png") no-repeat center;
  }

  .icon-fontclass-1::before {
    content: "";
  }

  .icon-fontclass-zuji2 {
    background: url("../../assets/images/member/tool_a(8).png") no-repeat center;
  }

  .icon-fontclass-zuji2::before {
    content: "";
  }

  .icon-fontclass-pinglun {
    background: url("../../assets/images/member/tool_a(4).png") no-repeat center;
  }

  .icon-fontclass-pinglun::before {
    content: "";
  }

  .icon-fontclass-kehu {
    background: url("../../assets/images/member/tool_a(3).png") no-repeat center;
  }

  .icon-fontclass-kehu::before {
    content: "";
  }

  .icon-fontclass-dizhi {
    background: url("../../assets/images/member/tool_a(1).png") no-repeat center;
  }

  .icon-fontclass-dizhi::before {
    content: "";
  }

  .icon-fontclass-youhuiquan {
    background: url("../../assets/images/member/tool_a(7).png") no-repeat center;
  }

  .icon-fontclass-youhuiquan::before {
    content: "";
  }

  .icon-fontclass-erweima {
    background: url("../../assets/images/member/tool_a(2).png") no-repeat center;
  }

  .icon-fontclass-erweima::before {
    content: "";
  }

  .icon-fontclass-shezhi {
    background: url("../../assets/images/member/tool_a(5).png") no-repeat center;
  }

  .icon-fontclass-shezhi::before {
    content: "";
  }

  .icon-fontclass-wangjimima2 {
    background: url("../../assets/images/member/member_a(124).png") no-repeat center;
  }

  .icon-fontclass-wangjimima2::before {
    content: "";
  }

  .icon-icon {
    background: url("../../assets/images/member/tool_a(9).png") no-repeat center;
  }

  .icon-icon::before {
    content: "";
  }

  .icon-shenghuojiaofei {
    background: url("../../assets/images/member/member_a(49).png") no-repeat center;
  }

  .icon-shenghuojiaofei::before {
    content: "";
  }

  .icon-yinhangqia {
    background: url("../../assets/images/member/tool_a(10).png") no-repeat center;
  }

  .icon-yinhangqia::before {
    content: "";
  }

  .icon-extension_video {
    background: url("../../assets/images/member/member_a(73).png") no-repeat center;
  }

  .icon-extension_video::before {
    content: "";
  }

  .icon-member_host_application {
    background: url("../../assets/images/member/member_a(91).png") no-repeat center;
  }

  .icon-member_host_application::before {
    content: "";
  }

  .icon-member_live_normal {
    background: url("../../assets/images/member/member_a(92).png") no-repeat center;
  }

  .icon-member_live_normal::before {
    content: "";
  }

  .icon-member_vj_asistant {
    background: url("../../assets/images/member/member_a(102).png") no-repeat center;
  }

  .icon-member_vj_asistant::before {
    content: "";
  }

  .icon-member_branch {
    background: url("../../assets/images/member/member_a(101).png") no-repeat center;
  }

  .icon-member_distributors {
    background: url("../../assets/images/member/member_a(94).png") no-repeat center;
  }

  .icon-member_branch::before {
    content: "";
  }

  .icon-member_distributors::before {
    content: "";
  }

  .icon-member_community {
    background: url("../../assets/images/member/member_a(74).png") no-repeat center;
  }

  .icon-member_community::before {
    content: "";
  }

  .icon-member_changer_centre {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(60).png") no-repeat center;
  }

  .icon-member_changer_centre::before {
    content: "";
  }

  .icon-fontclass-lingshou {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member_a(152).png") no-repeat center;
  }

  .icon-fontclass-lingshou::before {
    content: "";
  }

  .icon-member_voice_center {
    background: url("../../assets/images/member/member_a(75).png") no-repeat center;
  }

  .icon-member_voice_center::before {
    content: "";
  }

  .icon-member_place_apply {
    background: url("../../assets/images/member/member_a(77).png") no-repeat center;
  }

  .icon-member_place_apply::before {
    content: "";
  }

  .icon-fontclass-yuncang {
    background: url("../../assets/images/member/member_a(125).png") no-repeat center;
  }

  .icon-fontclass-yuncang::before {
    content: "";
  }

  .icon-member_construction_deposit {
    background: url("../../assets/images/member/member_a(76).png") no-repeat center;
  }

  .icon-member_construction_deposit::before {
    content: "";
  }

  .icon-member_installment_buycar {
    background: url("../../assets/images/member/member_a(80).png") no-repeat center;
  }

  .icon-member_installment_buycar::before {
    content: "";
  }

  .icon-member_pospay_validation {
    background: url("../../assets/images/member/member_a(82).png") no-repeat center;
  }

  .icon-member_pospay_validation::before {
    content: "";
  }

  .icon-fontclass-hangbanxinxi {
    background: url("../../assets/images/member/member_a(156).png") no-repeat center;
  }

  .icon-fontclass-hangbanxinxi::before {
    content: "";
  }

  .icon-member_posvip_cardnum {
    background: url("../../assets/images/member/member_a(83).png") no-repeat center;
  }

  .icon-member_posvip_cardnum::before {
    content: "";
  }

  .icon-member_advertise_market {
    background: url("../../assets/images/member/member_a(84).png") no-repeat center;
  }

  .icon-member_advertise_market::before {
    content: "";
  }

  .icon-member_appointment {
    background: url("../../assets/images/member/member_a(85).png") no-repeat center;
  }

  .icon-member_appointment::before {
    content: "";
  }

  .icon-member_information_release {
    background: url("../../assets/images/member/member_a(90).png") no-repeat center;
  }

  .icon-member_information_release::before {
    content: "";
  }

  .icon-member-cloud-object {
    background: url("../../assets/images/member/member_a(93).png") no-repeat center;
  }

  .icon-member-cloud-object::before {
    content: "";
  }

  .icon-member_ejiayou {
    background: url("../../assets/images/member/member_a(103).png") no-repeat center;
  }

  .icon-member_quickpay {
    background: url("../../assets/images/member/member_a(95).png") no-repeat center;
  }

  .icon-member_ejiayou::before {
    content: "";
  }

  .icon-member_quickpay::before {
    content: "";
  }

  .icon-member_auctionofficer_apply {
    background: url("../../assets/images/member/member_a(96).png") no-repeat center;
  }

  .icon-member_auctionofficer_apply::before {
    content: "";
  }

  .icon-fontclass-anzhuangshifu1 {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(145).png") no-repeat center;
  }

  .icon-fontclass-anzhuangshifu1::before {
    content: "";
  }

  .icon-fontclass-anzhuangfuwuhy {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(144).png") no-repeat center;
  }

  .icon-fontclass-anzhuangfuwuhy::before {
    content: "";
  }

  .icon-member_auctionofficer_admin {
    background: url("../../assets/images/member/member_a(97).png") no-repeat center;
  }

  .icon-member_auctionofficer_admin::before {
    content: "";
  }

  .icon-member_auctionofficer_index {
    background: url("../../assets/images/member/member_a(98).png") no-repeat center;
  }

  .icon-member_auctionofficer_index::before {
    content: "";
  }

  .icon-member_active_search {
    background: url("../../assets/images/member/member_a(99).png") no-repeat center;
  }

  .icon-member_active_search::before {
    content: "";
  }

  .icon-member_active {
    background: url("../../assets/images/member/member_a(100).png") no-repeat center;
  }

  .icon-member_active::before {
    content: "";
  }

  .icon-member_promoteassitant {
    background: url("../../assets/images/member/member_a(104).png") no-repeat center;
  }

  .icon-member_promoteassitant::before {
    content: "";
  }

  .icon-member_elitecenter {
    background: url("../../assets/images/member/member_a(105).png") no-repeat center;
  }

  .icon-member_elitecenter::before {
    content: "";
  }

  .icon-member_mycontract {
    background: url("../../assets/images/member/member_a(89).png") no-repeat center;
  }

  .icon-member_mycontract::before {
    content: "";
  }

  .icon-member_team_salereturn {
    background: url("../../assets/images/member/member_a(87).png") no-repeat center;
  }

  .icon-member_team_salereturn::before {
    content: "";
  }

  .icon-member_meeting_active {
    background: url("../../assets/images/member/member_a(88).png") no-repeat center;
  }

  .icon-member_meeting_active::before {
    content: "";
  }

  .icon-member_group_livecode {
    background: url("../../assets/images/member/member_a(110).png") no-repeat center;
  }

  .icon-member_chamber {
    background: url("../../assets/images/member/member_a(106).png") no-repeat center;
  }

  .icon-member_group_livecode::before {
    content: "";
  }

  .icon-member_chamber::before {
    content: "";
  }

  .icon-member_chamber_dealer {
    background: url("../../assets/images/member/member_a(107).png") no-repeat center;
  }

  .icon-member_chamber_dealer::before {
    content: "";
  }

  .icon-member_massage_remind {
    background: url("../../assets/images/member/member_a(115).png") no-repeat center;
  }

  .icon-member_installserverapply {
    background: url("../../assets/images/member/member_a(113).png") no-repeat center;
  }

  .icon-member_massage_remind::before {
    content: "";
  }

  .icon-member_installserverapply::before {
    content: "";
  }

  .icon-member_installserver {
    background: url("../../assets/images/member/member_a(114).png") no-repeat center;
  }

  .icon-member_installserver::before {
    content: "";
  }

  .icon-fontclass-tuanduifenxiaoshang {
    background: url("../../assets/images/member/member_a(126).png") no-repeat center;
  }

  .icon-fontclass-tuanduifenxiaoshang::before {
    content: "";
  }

  .icon-member_mygroupbuy {
    background: url("../../assets/images/member/member_a(122).png") no-repeat center;
  }

  .icon-member_mygroupbuy::before {
    content: "";
  }

  .icon-member_questionsurvey {
    background: url("../../assets/images/member/member_a(111).png") no-repeat center;
  }

  .icon-member_questionsurvey::before {
    content: "";
  }

  .icon-member_groupbuy {
    background: url("../../assets/images/member/member_a(123).png") no-repeat center;
  }

  .icon-member_groupbuy::before {
    content: "";
  }

  .icon-fontclass-tihuoka {
    background: url("../../assets/images/member/member_a(127).png") no-repeat center;
  }

  .icon-fontclass-tihuoka::before {
    content: "";
  }

  .icon-fontclass-yiingyongguanli {
    background: url("../../assets/images/member/member_a(131).png") no-repeat center;
  }

  .icon-fontclass-yiingyongguanli::before {
    content: "";
  }

  .icon-fontclass-anliku {
    background: url("../../assets/images/member/member_a(132).png") no-repeat center;
  }

  .icon-fontclass-anliku::before {
    content: "";
  }

  .icon-fontclass-waikan {
    background: url("../../assets/images/member/member_a(153).png") no-repeat center;
  }

  .icon-fontclass-waikan::before {
    content: "";
  }

  .icon-fontclass-choujianghuodong {
    background: url("../../assets/images/member/member_a(138).png") no-repeat center;
  }

  .icon-fontclass-xiajizuji {
    background: url("../../assets/images/member/member_a(142).png") no-repeat center;
  }

  .icon-fontclass-choujianghuodong::before {
    content: "";
  }

  .icon-fontclass-xiajizuji::before {
    content: "";
  }

  .icon-fontclass-tuoke {
    background: url("../../assets/images/member/member_a(136).png") no-repeat center;
  }

  .icon-fontclass-tuoke::before {
    content: "";
  }

  .icon-fontclass-dianshanglianmeng {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member_a(154).png") no-repeat center;
  }

  .icon-fontclass-dianshanglianmeng::before {
    content: "";
  }

  .icon-fontclass-shequmendian {
    background: url("../../assets/images/member/member_a(155).png") no-repeat center;
  }

  .icon-fontclass-shequmendian::before {
    content: "";
  }

  .icon-fontclass-quanzi2 {
    background: url("../../assets/images/extension/member_a(146).png") no-repeat center;
  }

  .icon-fontclass-quanzi2::before {
    content: "";
  }

  .icon-fontclass-huizhenpin {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(160).png") no-repeat center;
  }

  .icon-fontclass-huizhenpin::before {
    content: "";
  }

  .icon-fontclass-guanggaozhu {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(164).png") no-repeat center;
  }

  .icon-fontclass-guanggaozhu::before {
    content: "";
  }

  .icon-fontclass-guanggaozhushenqing {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(163).png") no-repeat center;
  }

  .icon-fontclass-guanggaozhushenqing::before {
    content: "";
  }

  .icon-fontclass-shengjima {
    background: url("../../assets/images/member/member_a(141).jpeg") no-repeat center;
  }

  .icon-fontclass-shengjima::before {
    content: "";
  }

  .icon-fontclass-yunkucun {
    background: url("../../assets/images/member/member_a(140).png") no-repeat center;
  }

  .icon-fontclass-yunkucun::before {
    content: "";
  }

  .icon-fontclass-quanguojiayou {
    background: url("../../assets/images/member/member_a(151).png") no-repeat center;
  }

  .icon-fontclass-quanguojiayou::before {
    content: "";
  }

  .icon-fontclass-yibaodaifu {
    background: url("../../assets/images/member/member_a(161).png") no-repeat center;
  }

  .icon-fontclass-xinyongzhi {
    background: url("../../assets/images/member/member_a(159).png") no-repeat center;
  }

  .icon-fontclass-yibaodaifu::before {
    content: "";
  }

  .icon-fontclass-miandan {
    background: url("../../assets/images/member/member_a(165).png") no-repeat center;
  }

  .icon-fontclass-miandan::before {
    content: "";
  }

  .icon-fontclass-mendianjiangli {
    background: url("../../assets/images/extension/extension(93).png") no-repeat center;
  }

  .icon-fontclass-mendianjiangli::before {
    content: "";
  }

  .icon-fontclass-xinyongzhi::before {
    content: "";
  }

  .icon-fontclass-mendianhexiao {
    background: url("../../assets/images/member/member_a(162).png") no-repeat center;
  }

  .icon-fontclass-mendianhexiao::before {
    content: "";
  }

  .icon-member-cashier {
    background: url("../../assets/images/member/member_a(34).png") no-repeat center;
  }

  .icon-member-cashier::before {
    content: "";
  }

  .icon-fontclass-xingpinle {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(133).png") no-repeat center;
  }

  .icon-fontclass_supplierDist {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(176).png") no-repeat center;
  }

  .icon-fontclass_supplierDist::before {
    content: "";
  }
  .icon-extension_allowance {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(104).png") no-repeat center;
  }

  .icon-extension_allowance::before {
    content: "";
  }

  .icon-fontclass_seePoint {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(106).png") no-repeat center;
  }

  .icon-fontclass_seePoint::before {
    content: "";
  }

  .icon-bonusPools {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(108).png") no-repeat center;
  }

  .icon-bonusPools::before {
    content: "";
  }

  .icon-fontclass_timeApp {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(187).png") no-repeat center;
  }

  .icon-fontclass_timeApp::before {
    content: "";
  }

  .icon-fontclassStock {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(184).png") no-repeat center;
  }

  .icon-fontclassStock::before {
    content: "";
  }

  .icon-fontclass-xingpinle::before {
    content: "";
  }

  .icon-fontclass-quntuoke {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(158).png") no-repeat center;
  }

  .icon-fontclass-quntuoke::before {
    content: "";
  }

  .icon-member-hotel-apply {
    background: url("../../assets/images/member/member_a(56).png") no-repeat center;
  }

  .icon-member-hotel-apply::before {
    content: "";
  }

  .icon-member_reward_ranking {
    background: url("../../assets/images/member/member_a(116).png") no-repeat center;
  }

  .icon-member_reward_ranking::before {
    content: "";
  }

  .icon-member_area_search {
    background: url("../../assets/images/member/member_a(121).png") no-repeat center;
  }

  .icon-member_area_search::before {
    content: "";
  }

  .icon-fontclass-quan {
    background: url("../../assets/images/member/member_a(170).png") no-repeat center;
  }

  .icon-fontclass-quan::before {
    content: "";
  }

  .icon-fontclass-guanggaozhu {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(164).png") no-repeat center;
  }

  .icon-fontclass-guanggaozhu::before {
    content: "";
  }

  .icon-fontclass-guanggaozhushenqing {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(163).png") no-repeat center;
  }

  .icon-fontclass-guanggaozhushenqing::before {
    content: "";
  }

  .icon-fontclass-dianzhushenqing {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(166).png") no-repeat center;
  }

  .icon-fontclass-dianzhushenqing::before {
    content: "";
  }

  .icon-fontclass-kuajing {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(167).png") no-repeat center;
  }

  .icon-fontclass-kuajing::before {
    content: "";
  }

  .icon-fontclass-dingdan {
    background: url("../../assets/images/member/member_a(168).png") no-repeat center;
  }

  .icon-fontclass-dingdan::before {
    content: "";
  }

  .icon-fontclass-liebiao {
    background: url("../../assets/images/member/member_a(169).png") no-repeat center;
  }

  .icon-fontclass-liebiao::before {
    content: "";
  }

  .icon-member_groupWork {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(172).png") no-repeat center;
  }

  .icon-member_groupWork::before {
    content: "";
  }

  .icon-member-newMedia {
    background: url("../../assets/images/member/member_a(171).png") no-repeat center;
  }

  .icon-member-newMedia::before {
    content: "";
  }

  .icon-member-prizePool {
    background: url("../../assets/images/member/member_a(173).png") no-repeat center;
  }

  .icon-member-prizePool::before {
    content: "";
  }

  .icon-member-storeManage {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(179).png") no-repeat center;
  }

  .icon-member-storeManage::before {
    content: "";
  }

  .icon-member_donationProject {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(175).png") no-repeat center;
  }

  .icon-member_donationProject::before {
    content: "";
  }

  .icon-member_qq-advertise {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(177).png") no-repeat center;
  }

  .icon-member_qq-advertise::before {
    content: "";
  }
  .icon-member_diyRormProve {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(180).png") no-repeat center;
  }

  .icon-member_diyRormProve::before {
    content: "";
  }

  .icon-extension-dealeTaskReward {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/extension/extension(102).png") no-repeat center;
    background-size: 56rpx;
  }

  .icon-extension-dealeTaskReward::before {
    content: "";
  }

  .icon-member_warehouse {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(178).png") no-repeat center;
  }

  .icon-member_warehouse::before {
    content: "";
  }

  .icon-member-invoice {
    background: url("https://mini-app-img-1251768088.cos.ap-guangzhou.myqcloud.com/member/member_a(183).png") no-repeat center;
  }
  .icon-member-invoice::before {
    content: "";
  }
}

#member-all {
  .icon-member_kefu {
    background: url("../../assets/images/member/tool_a(11).png") no-repeat center;
  }

  .icon-member_kefu::before {
    content: "";
  }
}
