#geoFail, #loading, #locationIllegal, .updating {
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 999
}

#geoFail, #loading, #locationIllegal {
    position: fixed;
    top: 0;
    left: 0
}

.updating {
    opacity: .8;
    display: none
}

#loading img, #updating img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.25rem;
    margin-left: -1.25rem;
    animation-duration: 1s;
    animation-name: common-widget-loading;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
    -webkit-animation-name: common-widget-loading;
    -webkit-animation-timing-function: ease-out-in;
    -webkit-animation-iteration-count: infinite
}

.search-wrap, .show, .updating {
    position: fixed;
    left: 0;
    top: 0
}

.show {
    display: block;
    background: #fff;
    width: 100%;
    height: 100%;
    opacity: .8;
    z-index: 999
}

#geoFail .error-msg, #locationIllegal .error-msg {
    width: 9.375rem;
    height: 3.875rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4.6875rem;
    margin-top: -3.1875rem
}

#geoFail img, #locationIllegal img {
    display: block;
    margin: 0 auto 0.75rem
}

#geoFail span, #locationIllegal span {
    width: 6.25rem;
    text-align: center;
    color: gray;
    font-size: 14px
}

#geoFail .refresh-btn {
    width: 13.6875rem;
    height: 2.125rem;
    line-height: 2.125rem;
    border: 0.0625rem solid #0079ff;
    color: #0079ff;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 1.875rem;
    left: 50%;
    margin-left: -6.75rem;
    border-radius: 0.25rem
}

.search-wrap {
    right: 0;
    padding: 0.5rem 3.75rem 0.5rem 0.9375rem;
    background-color: #fff;
    border-bottom: 0.0625rem solid #d3d3d3;
    z-index: 100
}

.map-wrap {
    height: 18.75rem;
    position: relative;
    top: 2.875rem
}

.list-wrap {
    width: 100%;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    bottom: 0;
    left: 0;
    overflow: hidden
}

.list-wrap .poi-scroller {
    z-index: 1;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none
}

.list-wrap .poi-scroller .active-pos, .poi-list li {
    height: 3.6875rem;
    padding-top: 0.375rem;
    position: relative;
    border-bottom: 0.0625rem solid #d3d3d3
}

.list-wrap .poi-scroller .active-pos {
    margin-left: 0.9375rem;
    overflow: hidden
}

.list-wrap .poi-scroller .active-pos .active, .poi-list .active {
    width: 1rem;
    height: 1rem;
    display: none;
    background: url( https://3gimg.qq.com/lightmap/components/locationPicker2/image/currentPos.png) no-repeat right center;
    background-size: 1rem 1rem;
    position: absolute;
    right: 0.9375rem;
    top: 50%;
    margin-top: -0.5rem
}

.item {
    padding-bottom: 0.625rem;
    border-bottom: 0.0625rem solid #d3d3d3
}

.poi-title {
    font-size: 14px;
    line-height: 1.6875rem;
    color: #333;
    font-weight: 400;
    display: block;
    width: 92%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.blue-txt {
    color: #0079ff !important;
    font-weight: 700 !important
}

.poi-address {
    font-size: 12px;
    color: gray;
    height: 1.25rem;
    line-height: 1.25rem;
    margin: 0;
    width: 92%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block
}

.poi-city, .poi-latlng {
    line-height: 1.375rem;
    display: none
}

.poi-list ul {
    list-style: none;
    width: 100%;
    text-align: left;
    margin: 0 0 0 0.9375rem;
    padding: 0 0 4.0625rem
}

.poi-list li {
    display: block
}

.poi-list .active {
    right: 1.875rem
}

.active-pos *, .poi-list li * {
    pointer-events: none
}

.hide {
    display: none
}

#container {
    width: 100%;
    height: 100%;
    border-bottom: 0.0625rem solid #d3d3d3;
    position: relative;
    z-index: 5;
    top: 0;
    left: 0
}

#container .marker {
    position: relative;
    top: 50%;
    left: 50%;
    width: 1.625rem;
    height: 2.25rem;
    margin-top: -1.75rem;
    margin-left: -0.75rem;
    z-index: 6
}

#container .marker img {
    z-index: 1;
    position: absolute
}

#container .marker i {
    width: 0.5rem;
    height: 0.5rem;
    background: url( https://3gimg.qq.com/lightmap/components/locationPicker2/image/plus.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: -0.25rem;
    left: 50%;
    margin-left: -0.2813rem;
    z-index: 0;
    display: none
}

#container .go-back-pos {
    width: 2.75rem;
    height: 2.75rem;
    position: absolute;
    left: 0.4375rem;
    bottom: 0.4375rem;
    z-index: 6;
    background: url( https://3gimg.qq.com/lightmap/components/locationPicker2/image/navbg.png) no-repeat top left;
    background-size: 2.75rem 2.75rem
}

#container .go-back-pos i {
    background: url( https://3gimg.qq.com/lightmap/components/locationPicker2/image/nav.png) no-repeat center center;
    background-size: 1.5rem 1.5rem;
    display: block;
    width: 2.75rem;
    height: 2.75rem
}

#container #map-info {
    position: absolute;
    left: 3.625rem;
    bottom: 0.625rem;
    z-index: 6;
    width: 2.875rem
}

#container #map-info .scale {
    font-size: 10px;
    text-align: center;
    position: relative;
    line-height: 1;
    white-space: nowrap;
    padding-bottom: 0.1875rem;
    margin-bottom: 1.3125rem;
    left: 0.125rem
}

#container #map-info .scale:before {
    left: -0.0625rem;
    right: -0.0625rem;
    bottom: -0.1875rem;
    border: 0.1875rem #fff solid
}

#container #map-info .scale:after {
    left: 0;
    right: 0;
    bottom: -0.125rem;
    border: 0.0625rem #000 solid
}

#container #map-info .scale:after, #container #map-info .scale:before {
    content: '';
    display: block;
    position: absolute;
    height: 0.1875rem;
    border-top: 0
}

#container #map-info .qqmap-text-logo {
    width: 4rem;
    height: 1rem;
    background: url( https://3gimg.qq.com/lightmap/components/locationPicker2/image/logo.png) no-repeat left top;
    background-size: 4rem 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 6
}

#container #map-info .scale {
    text-shadow: #fff 0 -0.0625rem, #fff 0.0625rem 0, #fff 0 0.0625rem, #fff -0.0625rem 0
}

#container .to-right {
    position: absolute;
    bottom: 0.625rem;
    right: 0.625rem;
    z-index: 10;
    width: 2.5rem;
    height: 5rem;
    background: #fff;
    border: 0.0625rem solid #bababa;
    border-radius: 3.125rem;
    box-shadow: 0 0 0.375rem rgba(0, 0, 0, .1);
    text-align: center;
    font-size: 30px;
    display: none
}

#container .to-right i {
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    display: block
}

.search-wrap.init-status {
    padding-right: 0.9375rem
}

.search-wrap .search-bar {
    display: block;
    height: 1.875rem;
    background-color: #ebebeb;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    color: #b4b4b4;
    font-size: 15px;
    line-height: 1.9375rem;
    border-radius: 0.3125rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.search-wrap .search-bar .keyword {
    display: block;
    width: 100%;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    border: 0;
    font-size: 14px;
    line-height: 1.125rem;
    background: 0 0
}

.search-wrap.init-status .search-bar .keyword {
    text-align: left
}

.search-wrap .search-bar .keyword::-webkit-input-placeholder {
    background: url(https://3gimg.qq.com/lightmap/components/locationPicker2//image/searchbg.png) no-repeat left center;
    background-size: 5rem 1rem;
    color: gray
}

.search-wrap.init-status .search-bar .keyword::-webkit-input-placeholder {
    background: url(https://3gimg.qq.com/lightmap/components/locationPicker2//image/searchbg.png) no-repeat center center;
    background-size: 5rem 1rem
}

.search-wrap .cancle, .search-wrap .submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.4375rem;
    height: 2.875rem;
    line-height: 2.875rem;
    text-align: center;
    font-size: 16px;
    color: #0079ff;
    background-color: #fff
}

.search-wrap .clear-input {
    top: 0.6875rem;
    right: 3.75rem;
    width: 2.125rem;
    height: 1.625rem;
    line-height: 1.625rem;
    background: url(https://3gimg.qq.com/lightmap/components/locationPicker2/image/close.png) no-repeat center center;
    background-color: #ededed;
    background-size: 1.125rem 1.125rem;
    position: absolute;
    padding: 0;
    border: 0;
    font-size: 14px;
    border-radius: 0.25rem;
    text-align: center;
    z-index: 2
}

.search-wrap.init-status .cancle, .search-wrap.init-status .clear-input, .search-wrap.init-status .submit {
    display: none
}

.suggestion-wrap {
    position: absolute;
    top: 2.875rem;
    bottom: 0;
    z-index: 7;
    width: 100%;
    background: #f6f6f6;
    overflow: hidden;
    display: none
}

.suggestion-wrap .suggestion-scroller {
    width: 100%
}

.suggestion-wrap .suggestion-scroller li {
    position: relative;
    display: block;
    padding-top: 0.5rem;
    padding-left: 2.5rem;
    border: none;
    background: url( https://3gimg.qq.com/lightmap/components/locationPicker2/image/search.png) no-repeat 0.625rem 0.8125rem;
    background-size: 1rem 1rem;
    margin-left: -0.9375rem;
    height: 3.625rem;
    overflow: hidden
}

.load-wrap, .no-more-results, .no-results {
    color: gray;
    padding: 1.25rem 0;
    line-height: 1.5rem;
    text-align: center
}

.load-wrap, .no-more-results {
    margin-top: -4.0625rem;
    display: none
}

.no-results {
    display: block;
    margin: 0 auto
}

.load-wrap .load-data {
    width: 5.625rem;
    margin: 0 auto
}

.load-wrap img {
    margin-right: 0.75rem;
    float: left;
    animation-duration: 1s;
    animation-name: common-widget-loading;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: common-widget-loading;
    -webkit-animation-timing-function: ease-out-in;
    -webkit-animation-iteration-count: infinite
}

*, body, html {
    margin: 0;
    padding: 0
}

button, input, input[type=button], input[type=reset], input[type=search], input[type=submit], select {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    border: none
}

a, a:active, a:hover {
    text-decoration: none
}

body, html {
    height: 100%;
    overflow: hidden;
    background: #f6f6f6;
    -webkit-user-select: none;
    box-sizing: border-box;
    font-size: 14px
}

li, ol, ul {
    list-style: none
}

.hide {
    display: none
}

.bounceInDown {
    animation: bounceInDown 500ms infinite;
    animation-direction: alternate;
    -webkit-animation: bounceInDown 500ms infinite;
    -webkit-animation-direction: alternate
}

@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, to {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0%, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    25% {
        -webkit-transform: translate3d(0, -1.875rem, 0);
        transform: translate3d(0, -0.625rem, 0)
    }
    50% {
        -webkit-transform: translate3d(0, -0.9375rem, 0);
        transform: translate3d(0, -1.25rem, 0)
    }
    75% {
        -webkit-transform: translate3d(0, -0.25rem, 0);
        transform: translate3d(0, -0.625rem, 0)
    }
}

@keyframes bounceInDown {
    0%, 60%, 75%, 90%, to {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0%, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    25% {
        -webkit-transform: translate3d(0, -1.875rem, 0);
        transform: translate3d(0, -0.625rem, 0)
    }
    50% {
        -webkit-transform: translate3d(0, -0.9375rem, 0);
        transform: translate3d(0, -1.25rem, 0)
    }
    75% {
        -webkit-transform: translate3d(0, -0.25rem, 0);
        transform: translate3d(0, -0.625rem, 0)
    }
}

@-webkit-keyframes common-widget-loading {
    0% {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

.iScrollLoneScrollbar {
    width: 0.25rem !important;
    right: 0.125rem !important
}

.iScrollLoneScrollbar .iScrollIndicator {
    border: none !important
}
