.a2q {
  position: fixed;
  z-index: 1499;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3rem;
  background-color: #fff;
  border-top: 0.0625rem solid #bbb;
}

.a2w {
  display: none;
  position: absolute;
  z-index: 16;
  left: 0;
  top: -1.875rem;
  right: 0;
  height: 1.875rem;
  overflow: hidden;
  font-size: 12px;
  line-height: 1.75rem;
  text-align: center;
  background-color: #f2edca;
  border-top: 0.0625rem solid #e4d294;
}

.a2w div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.a33 {
  position: absolute;
  z-index: 20;
  left: 0;
  right: 0;
  top: 3.0625rem;
  padding-bottom: 3.0625rem;
  transition: transform 0.5s ease-out 0s;
  -webkit-transition: -webkit-transform 0.5s ease-out 0s;
  background-color: #fff;
}

.a33 .a3o {
  padding-left: 0;
}

.a33 .a4b {
  display: none;
}

.a34 {
  height: 1.875rem;
  overflow: hidden;
  font-size: 0.75rem;
  line-height: 1.875rem;
  text-align: center;
  background-color: #f2edca;
  border-top: 0.0625rem solid #e4d294;
}

.a35 {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.a2z {
  position: absolute;
  z-index: 30;
  left: 0;
  top: -0.0625rem;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-top: 0.0625rem solid #d9d9d9;
}

.a2r {
  visibility: hidden;
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 5rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 3rem;
  transition: transform 0.5s ease-out 0s;
  -webkit-transition: -webkit-transform 0.5s ease-out 0s;
}

.a2r.light {
  top: -0.8125rem;
  height: 3.625rem;
  background-position: 0.625rem;
  background-size: 3rem;
}

.a2r.dark {
  top: -0.95rem;
  left: 0.1rem;
  height: 3.8rem;
  background-size: 2.7rem;
  background-position: 0.625rem 1.1rem;
}

.a2r.pulse {
  animation: cartIconScale 220ms forwards;
  transform-origin: center bottom;
  -webkit-animation: carticonscale 220ms forwards;
  -webkit-transform-origin: center bottom;
}

.a2r.incartcontent {
  top: 0.0625rem;
}

.a2r.show {
  visibility: visible;
}

.a2s {
  position: absolute;
  top: 0.25rem;
  left: 2.75rem;
  padding: 0 0.3125rem;
  height: 1rem;
  line-height: 0.875rem;
  overflow: hidden;
  text-align: center;
  color: #fff;
  background-color: #f15353;
  border-radius: 0.5rem;
  font-size: 10px;
  border: solid 1px #fff;
}

.a2t {
  position: absolute;
  z-index: 40;
  left: 4.375rem;
  bottom: 0;
  line-height: 3rem;
  font-size: 18px;
  color: #ff3434;
  transition: transform 0.4s ease-out 0s;
  -webkit-transition: -webkit-transform 0.4s ease-out 0s;
}

.a2u {
  font-size: 15px;
  color: #999;
}

.a2v {
  position: absolute;
  z-index: 40;
  right: 0;
  width: 7.1875rem;
  text-align: center;
  color: #fff;
  line-height: 3rem;
  background-color: #f15353;
  font-size: 16px;
}

.a2v.disabled,
.a2v.sending {
  background-color: #bebebe;
}

.a37 {
  position: absolute;
  left: 1.8125rem;
  top: 3.5625rem;
  width: 0.6875rem;
  height: 0.4375rem;
  background:
    url(//static-o2o.360buyimg.com/daojia/new/images/minicart/a.png) 0
    0 no-repeat;
  background-size: 0.6875rem 0.4375rem;
}

.a38 {
  position: relative;
  line-height: 2.5rem;
  min-height: 2.5rem;
  color: #666;
  border-bottom: 0.0625rem solid #ebebeb;
  margin-top: 60px;
  background: #fff;
}

.a39 {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 0.75rem 0 1.125rem;
  background:
    url(//static-o2o.360buyimg.com/daojia/new/images/minicart/delete.png)
    0 center no-repeat;
  background-size: 0.8125rem 0.75rem;
  color: #666;
}

.a4b {
  position: absolute;
  left: 0;
  // background-image: url(//static-o2o.360buyimg.com/daojia/new/images/minicart/ck.png);
  background-size: 1.125rem;
  background-repeat: no-repeat;
}

.a4c {
  padding-left: 2.5rem;
  padding-right: 1.25rem;
  top: 0;
  background-position: 0.625rem 0.625rem;
  color: #333;
}

.a4e {
  position: absolute;
  left: 4.625rem;
  top: 0.0625rem;
  font-size: 12px;
  color: #666;
}

.a4d .a4e {
  left: 2.4375rem;
  top: 0.875rem;
}

.a3b {
  background-color: #fbfbfb;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.a3m {
  position: relative;
}

.a3r {
  display: none;
  position: relative;
  padding: 0.5625rem 5.625rem 0.5625rem 2.4375rem;
  min-height: 1.625rem;
  line-height: 0.875rem;
  font-size: 12px;
  color: #666;
  background-position: 0.5rem 0.875rem;
  background-size: 1.5625rem 1.25rem;
  background-repeat: no-repeat;
  border-bottom: 0.0625rem solid #e8e8e8;
}

.a3r.exchange {
  display: block;
  background-image: url(//static-o2o.360buyimg.com/daojia/new/images/minicart/huangou.png);
}

.a3r.suit {
  display: block;
  background-image: url(//static-o2o.360buyimg.com/daojia/new/images/minicart/manjian.png);
}

.a3r.gift {
  display: block;
  background-image: url(//static-o2o.360buyimg.com/daojia/new/images/minicart/manzeng.png);
}

.a3r.fullpiecediscount {
  display: block;
  background-image: url(//static-o2o.360buyimg.com/daojia/new/images/minicart/manzhe.png);
}

.a3r.fullpiecesales {
  display: block;
  background-image: url(//static-o2o.360buyimg.com/daojia/new/images/minicart/manjian.png);
}

.a3r table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  height: 1.625rem;
}

.a3r td {
  vertical-align: middle;
  height: 1.625rem;
}

.a3r span {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 2.75rem;
  color: #47b34f;
  padding: 0 1.375rem 0 1.5625rem;
  background:
    url(//static-o2o.360buyimg.com/daojia/new/images/minicart/more.png)
    right center no-repeat;
  background-size: 1rem 0.625rem;
}

.a3o {
  position: relative;
  padding: 0 0 0.625rem 1.875rem;
  margin-left: 0.625rem;
  line-height: 2.25rem;
  color: #333;
  border-bottom: 0.0625rem solid #e8e8e8;
}

.a4b {
  position: absolute;
  left: 0;
  // background-image: url(//static-o2o.360buyimg.com/daojia/new/images/minicart/ck.png);
  background-size: 1.125rem;
  background-repeat: no-repeat;
}

.a4c {
  padding-left: 2.5rem;
  padding-right: 1.25rem;
  top: 0;
  background-position: 0.625rem 0.625rem;
  color: #333;
}

.a4e {
  position: absolute;
  left: 4.625rem;
  top: 0.0625rem;
  font-size: 12px;
  color: #666;
}

.a3p {
  position: absolute;
  z-index: 3;
  left: -0.625rem;
  top: 0.375rem;
  width: 3.125rem;
  height: 3.75rem;
  background-position: 0.625rem 1.25rem;
}

.a3s {
  display: block;
}

.a3t {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.a3t td {
  padding: 0;
  margin: 0;
  text-align: left;
  vertical-align: top;
  position: relative;
  height: 3.875rem;
}

.a3u {
  width: 3.25rem;
  height: 3.25rem;
  margin-top: 0.625rem;
  vertical-align: top;
}

.a3x {
  min-height: 2.25rem;
  line-height: 2.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.a46 {
  line-height: 0;
}

.a3q {
  line-height: 1.25rem;
  color: #ff3434;
  font-size: 16px;
}

.a3y {
  position: absolute;
  top: 1.375rem;
  right: 2.1875rem;
  width: 2.4375rem;
  line-height: 3.25rem;
  height: 3.25rem;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
}

.a3w,
.a3v {
  position: absolute;
  z-index: 3;
  top: 1.375rem;
  width: 3rem;
  height: 3rem;
  // background-image: url(//static-o2o.360buyimg.com/daojia/new/images/minicart/op.png);
  background-repeat: no-repeat;
  background-size: 1.5rem;
}

.a3w {
  right: 0;
  background-position: center 0.75rem;
}

.a3w.disabled {
  position: absolute;
  width: 3.0625rem;
  height: 3.25rem;
  // background-image: url(//static-o2o.360buyimg.com/daojia/new/images/minicart/op_disabled.png);
  background-repeat: no-repeat;
  background-size: 1.6875rem 5.4375rem;
  background-position: center -3.0625rem;
}

.a3v {
  right: 3.8125rem;
  background-position: center;
}

.a4f {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3.125rem;
  line-height: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  font-size: 11px;
  color: #ee7a12;
  box-shadow: 0 -0.0625rem 0.5rem rgba(189, 173, 162, 0.45);
  padding-left: 1.8125rem;
  background:
    #fff7e8
    url(//static-o2o.360buyimg.com/daojia/new/images/minicart/tip.png) 0.625rem
    center no-repeat;
  background-size: 0.875rem 0.875rem;
}

.a30 {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.minicart-content {
  position: absolute;
  z-index: 20;
  left: 0;
  right: 0;
  top: 3.0625rem;
  transition: transform 0.5s ease-out 0s;
  -webkit-transition: -webkit-transform 0.5s ease-out 0s;
  //background-color: #fff
}
